extends layout.pug

block content
    #main.defaultWideDiv
        .currentWrapper
            .titleBox
                .titleWrap
                    .lignefooter
                    h1 Ateliers de cr&eacute;ation collective
                    .lignefooter
            .basicBox.nocontent.synop
                #synop.infoBox.noimg.flex
                    .wrapperInfo
                        .nom.whiteText.onehalfrem
                            | La cr&eacute;ation collective, une approche innovante et originale.
                            br
                            |  Un outil d&apos;&eacute;panouissement et d&apos;engagement au services de vos projets artistiques.
                    .iconEvents
                        i.buyable.fas.fa-coins.fa-lg
                        div.legendCoin(style='font-size: 1rem;') Catalogue tourn&eacute;e Art &amp; Vie
            //2022
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2022
                    .vertLine

            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText La balade autour du masque
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Centre d'expression et de créativité Tête en l'air - La Louvière
                img.imageBox(src='../acc/baladeMasque.jpg')

            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Jeunes en Création
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Athénée Royal de Mons
                    .middleBottom.ofiverem
                        | Mise en scène : Anne-Laure Mouchette
                img.imageBox(src='../acc/jeunesEnCrea.png')

            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Une Impossible Famille
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Mons
                img.imageBox(src='../acc/uneImpossFamille_img.jpg')
            .openContentButton.impossFamille
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.img.closed.impossFamille
                img.imageBox.closed.match(src='../acc/uneImpossFamille_txt.png')
                
            // 2021
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2021
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Atelier CPAS / Atelier Adultes
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Mons (Si&egrave;ge)
                .iconEvents
                    a(href='https://www.culture.cfwb.be/star_catalogue/Controler?jsysACTION=portal.login&jsysPORTALURL=http%3A%2F%2Fservices-web.etnic.be%3A5080%2Fservices%2Finternal%2Fform%3Ftype%3Dartiste%2B%2Cspectacle%26domain%3DSTAR%2B%2CSTAR&jsysPORTALUSERID=&sds=draftData&pTypeFormulaire;String=&pAgentMCF;String=Non&jsysMODE=Interview&jsysIDS=userData&jsysIDS=draftData&jsysSDS=draftData&jsysCODOC=view_spectacle_artiste&jsysTYPE=ji_html&pIsRenouvellement;String=off&jsysPORTALREDIRECT=%3FRetourJway%3Dtrue&AJAXKeepAliveUrl;String=%3FRetourJway%3Dtrue&jsysPORTALDRAFTID=1185060701,809477658&pFormIDSpectacle;String=809477658&pFormIDArtiste;String=1185060701&pLibelleSaison;String=2021-2022&usage=normal&CodeStar;String=1171-30&pPublicationScolaire;String=Non' target='_blank' rel='noopener noreferrer')
                        i.buyable.fas.fa-coins.fa-lg
                .iconDate
                    a(href='../un-joli-rêve-18-01-21.docx' target='_blank' rel='noopener noreferrer')
                        i.buyable.fas.fa-file-pdf.fa-2x
                img.imageBox(src='../acc/joli.jpg')
            .openContentButton.joli
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.closed.joli.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .nom.whiteText.nowrap Un joli R&ecirc;ve
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | Germaine f&ecirc;te ses 80 ans. Germaine vit chez sa fille, Josette, m&egrave;re d&apos;Ad&egrave;le, &eacute;tudiante, et de John, ch&ocirc;meur. Les relations familiales ne sont pas simples. La crise sanitaire exacerbe les failles.
            .basicBox.closed.joli.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .nom.whiteText.nowrap Com&eacute;dien.ne.s
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | Bouchez Monique
                            br
                            |             Clara Marie-Ange
                            br
                            |             Dufrasnes Nancy
                            br
                            |             Godart Rodrigue
                            br
                            |             Luca Jea-Pol
                            br
                            |             M&uuml;ller Marie-Adela&iuml;de
                            br
                            |             Princivalli Maryline
                    .middleBottom.ofiverem 
                        | Mise en sc&egrave;ne&nbsp;: Anne-Laure Mouchette et Hayat N&rsquo;Ciri
                        br
                        | Texte :  Hayat N&rsquo;Ciri
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Atelier internationnal de cr&eacute;ation collective pluridisciplinaire
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .nom.whiteText Diffusion num&eacute;rique et participative
                    .middleLogo.flex
                        img.barbLogo(src='../acc/LOGOW.png')
                    .iconDate
                        a(href='../acc/IDENTITA_lanneeDuMasque.pdf' target='_blank' rel='noopener noreferrer')
                            i.buyable.fas.fa-file-pdf.fa-2x
                img.imageBox(src='../acc/mask1.png')
            .openContentButton.mask
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.closed.mask.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .nom.whiteText.nowrap Identita, l&rsquo;ann&eacute;e du masque
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | &lsquo;Masque Covid, celui qui prot&egrave;ge, celui qui &eacute;loigne.
                            | Masque de carnaval, masque sacr&eacute;, masque initiatique et fun&eacute;raire, il devient aussi personnage.
                            | Il est de tous les continents, de toutes les cultures.
                            | Le masque, seconde peau, miroir de l&rsquo;&acirc;me questionne, refl&egrave;te notre identit&eacute;, notre monde&rsquo;
                    .middleBottom.ofiverem Gianfranco Covino
            .basicBox.closed.mask.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .locationTime.whiteText.summary
                            | A ce jour, plus d&rsquo;une soixantaine d&rsquo;auteurs de tous les horizons, depuis l&rsquo;Angleterre, l&rsquo;Argentine, la Belgique, la Bolivie, le Canada, les USA, l&rsquo;Italie, le Maroc,
                            | et le Soudan offrent leur plus belle plume dans leurs langues respectives, parfois leurs talents de musicien et donnent la parole &agrave; un masque&mldr; de cr&eacute;ation c&eacute;ramique.
                            | Les &oelig;uvres sont diffus&eacute;es &agrave; un rythme hebdomadaire.
            .basicBox.closed.mask.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .locationTime.whiteText.summary
                            | &lsquo;Identita, l&rsquo;ann&eacute;e du masque&rsquo; est un pied de nez, une conjuration &agrave; la pand&eacute;mie.  Faute de possibilit&eacute; de contacts physiques, nous cr&eacute;ons en distanciel et usons du num&eacute;rique comme outil de rencontre et de diffusion.
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | Qui suis-je ? Mon reflet n&apos;est plus moi. Mon image dans les yeux des autres n&apos;est pas moi. Qui suis-je pour les autres ?
                    .middleBottom.ofiverem Bilal Luca Covino
            .basicBox.img.closed.mask
                img.imageBox.closed.match(src='../acc/mask2.png')
            .basicBox.img.closed.mask
                video(controls='')
                    source(src='../acc/maskVid.mp4' type='video/mp4')
                    | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
            // 2020Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2020
                    .vertLine
            .dateBoxStarter
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2020
                        .vertLine
                .basicBox.img
                    .infoBox
                        .wrapperInfo
                            .nom.whiteText Mardis Artistiques
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Braseap asbl
                    .iconDate
                        .txt.onerem Depuis 2008
                    img.imageBox(src='../acc/chaepeau.JPG')
                    .leftBottom.onehalfrem.whiteText.outline Le chapeau de ma tante
            .openContentButton.ma
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.closed.ma.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .nom.whiteText.nowrap Mardis Artistiques
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | Depuis 2001, la compagnie Barbiana collabore avec des structures d&rsquo;insertion sociale et
                            | socioprofessionnelle en communaut&eacute; fran&ccedil;aise, dans le Borinage, &agrave; Bruxelles, &agrave; Charleroi et Li&egrave;ge.
                            | Parmi les Organismes d&rsquo;Insertion Socio-professionnelles (OISP) et les Entreprises de Formation par le
                            | Travail (EFT) des liens continus se sont cr&eacute;&eacute;s avec l&rsquo;Entreprise par le Travail BRASEAP depuis 2008.
            .basicBox.closed.ma.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .locationTime.whiteText.summary
                            | En parall&egrave;le au cadre de formation mis en place par le partenaire, nous occupons un espace
                            | artistique. Nous y mettons sur pied des ateliers de cr&eacute;ation th&eacute;&acirc;trale mais aussi photographique,
                            | cin&eacute;matographique ainsi que des ateliers de cr&eacute;ation de masques.
                            | L&rsquo;approche collective soutenue par une logique d&rsquo;&eacute;panouissement et d&rsquo;affranchissement questionne
                            | les v&eacute;cus respectifs et leurs rapports &agrave; la soci&eacute;t&eacute;.
            .basicBox.closed.ma.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .locationTime.whiteText.summary
                            | Notre d&eacute;marche cr&eacute;e un r&eacute;el impact sur la qualit&eacute;
                            | et la r&eacute;ussite du processus d&rsquo;apprentissage. Nos activit&eacute;s agissent comme catalyseur et provoque
                            | chez le stagiaire un gain de dignit&eacute;, un accroissement de la confiance en soi, une prise de
                            | responsabilit&eacute; et enfin une mise en marche qui offre les meilleures garanties &agrave; ses projets
                            | professionnels, de vie, d&rsquo;implication citoyenne &mldr;
            .basicBox.img.closed.ma
                img.imageBox.closed.ma(src='../acc/ma1.jpg')
            .basicBox.img.closed.ma
                img.imageBox.closed.ma(src='../acc/cdv2.JPG')
                .leftBottom.onerem.whiteText.outline Chienne de vie
            .basicBox.img.closed.ma
                img.imageBox.closed.ma(src='../acc/ma4.png')
            .basicBox.img.closed.ma
                video(controls='')
                    source(src='../acc/silence.mp4' type='video/mp4')
                    | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Pr&eacute;jug&eacute;s Crois&eacute;s
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Cap Info Asbl
                .iconDate
                    .txt.onerem Depuis 2019
                img.imageBox(src='../acc/prej.png')
            .openContentButton.crois
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.img.closed.crois
                video(controls='')
                    source(src='../acc/mardis artistiques/prejuges_croises_light - converted with Clipchamp.mp4' type='video/mp4')
                    | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
            .basicBox.nocontent
                .infoBox.noimg
                    .wrapperInfo
                        .nom.whiteText Atelier Femme
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Mons
                    .middleLogo.flex
                        img.barbLogo(src='../acc/LOGOW.png')
                        img.cpasLogo(src='../acc/cpasw.png')
                    .iconDate
                        .txt.onerem Depuis 2018
            // 2019Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2019
                    .vertLine
            .dateBoxStarter
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2019
                        .vertLine
                .basicBox.img
                    .infoBox
                        .wrapperInfo
                            .nom.whiteText Quel Match !
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Atelier Adultes
                        .middleLogo.flex
                            img.cpasLogo(src='../acc/cpasw.png')
                    img.imageBox(src='../Image/Ateliers/MATCH1.jpg')
            .openContentButton.match
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.img.closed.match
                img.imageBox.closed.match(src='../Image/Ateliers/MATCH2.jpg')
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Laboratoire de recherche
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Jeunes com&eacute;diens d&apos;apr&egrave;s &quot;Les justes&quot; d&apos;Albert Camus
                img.imageBox(src='../acc/justes.png')
            // 2018Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2018
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2018
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText Initiation &agrave; l&apos;expression th&eacute;&agrave;trale
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Atelier adolescent
                        .middleLogo.flex
                            img.mjLogo(src='../mj.png')
                            .nom.whiteText.onerem MJ Rezolution
                            .nom.whiteText.onerem Anderlecth-Mons
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText &Ecirc;tes-vous Heureux ?
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Le Monde des Possibles asbl
                            br
                            |  ACFI
                img.imageBox(src='../Image/Ateliers/ETV1.jpeg')
                .iconDate
                    #etvBlack.txt.onerem(style='color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;') Depuis 2017
            .openContentButton.etv
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.closed.etv.nocontent
                .infoBox.noimg.text
                    .wrapperInfo(style='margin-bottom:10px;')
                        .nom.whiteText.nowrap &Ecirc;tes-vous Heureux ?
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | &lsquo;Etes-vous Heureux&rsquo;, une cr&eacute;ation originale r&eacute;alis&eacute;e par de jeunes &lsquo;com&eacute;diens&rsquo; demandeurs d&rsquo;asile.
                            | Dans &lsquo;&Ecirc;tes-vous Heureux&rsquo;, 8 jeunes Africains parlent de &lsquo;leur long voyage&rsquo; et de leurs r&ecirc;ves &agrave; participer au d&eacute;veloppement du monde.
                            | Une cr&eacute;ation o&ugrave; chants, danses, po&eacute;sies et musiques nous bercent dans un l&rsquo;impitoyable voyage de notre conscience face &agrave; la tragique r&eacute;alit&eacute; des &lsquo;r&eacute;fugi&eacute;s&rsquo;.
                    .onerem.middleBottom(style='font-weight: bold;bottom: 10px;') Reprise lors de l&apos;&eacute;v&egrave;nement &quot;Balade th&eacute;&acirc;trale&quot;
            .basicBox.img.closed.etv
                img.imageBox.closed.etv(src='../Image/Ateliers/ETV2.jpeg')
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Portraits de femmes
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText O&ugrave; la violence faites aux femmes
                img.imageBox(src='../acc/pdf/Portraits de femmes13.JPG')
                .iconEvents
                    a(target='_blank' rel='noopener noreferrer' href='https://www.culture.cfwb.be/star_catalogue/Controler?jsysACTION=portal.login&jsysPORTALURL=http%3A%2F%2Fservices-web.etnic.be%3A5080%2Fservices%2Finternal%2Fform%3Ftype%3Dartiste%2B%2Cspectacle%26domain%3DSTAR%2B%2CSTAR&jsysPORTALUSERID=&sds=draftData&pTypeFormulaire;String=&pAgentMCF;String=Non&jsysMODE=Interview&jsysIDS=userData&jsysIDS=draftData&jsysSDS=draftData&jsysCODOC=view_spectacle_artiste&jsysTYPE=ji_html&pIsRenouvellement;String=off&jsysPORTALREDIRECT=%3FRetourJway%3Dtrue&AJAXKeepAliveUrl;String=%3FRetourJway%3Dtrue&jsysPORTALDRAFTID=1952376366,1952376576&pFormIDSpectacle;String=1952376576&pFormIDArtiste;String=1952376366&pLibelleSaison;String=2020-2021&usage=normal&CodeStar;String=1171-6&pPublicationScolaire;String=Non')
                        i.buyable.fas.fa-coins.fa-lg
                .iconDate
                    .txt.onerem Depuis 2013
            .openContentButton.pdf
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.closed.pdf.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .nom.whiteText.nowrap Portraits de femmes
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | &lsquo;Portraits de Femmes&rsquo; est une exp&eacute;rience de cr&eacute;ation unique.
                            | L&apos;atelier de cr&eacute;ation collective destin&eacute; aux femmes aboutira &agrave; la r&eacute;alisation de quelques courtes
                            | sc&eacute;nettes qui prendront de l&rsquo;amplitude pour se transformer au fur et &agrave; mesure en un spectacle professionnel pluridisciplinaire
                            | conjuguant th&eacute;&acirc;tre, chor&eacute;graphies, vid&eacute;os et photos, m&ecirc;lant com&eacute;diens amateurs et professionnelles.
            .basicBox.closed.pdf.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .locationTime.whiteText.summary
                            | Toutefois l&rsquo;&eacute;criture et l&rsquo;interpr&eacute;tation sont r&eacute;serv&eacute;es aux femmes, en majorit&eacute; amateurs,
                            | qui se pr&ecirc;tent au jeu de l&rsquo;exploration de la violence au sein du couple.
                            | Le spectacle pour chaque repr&eacute;sentation requiert la mise en place d&rsquo;ateliers d&rsquo;&eacute;criture et d&rsquo;interpr&eacute;tation.
                            | Les chor&eacute;graphies sont fixes, ainsi que la &lsquo;sc&eacute;nographie&rsquo;.
                            | A ce jour, Portrait de Femmes, a &eacute;t&eacute; diffus&eacute; une vingtaine de fois, le projet est toujours disponible.
                            br
                    .onerem.middleBottom Reprise lors de l&apos;&eacute;v&egrave;nement &quot;Balade th&eacute;&acirc;trale&quot;
            .basicBox.img.closed.pdf
                img.imageBox.closed.pdf(src='../acc/pdf/9A1A0441.jpg')
            .basicBox.img.closed.pdf
                img.imageBox.closed.pdf(src='../acc/pdf/Portraits de femmes12.png')
            .basicBox.img.closed.pdf
                img.imageBox.closed.pdf(src='../acc/pdf/L1002768.jpg')
            .basicBox.closed.pdf
                video(controls='')
                    source(src='../acc/pdf/violence.mp4' type='video/mp4')
                    | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Adaptation de &quot;La couleur des &eacute;motions&quot; d&apos;apr&egrave;s Anna Llenas
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | CAP INFO asbl
                            br
                            |  Erquelinnes - Mons (Si&egrave;ge)
                img.imageBox(src='../acc/emotion.png')
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Laboratoire d&rsquo;expression artistique th&eacute;&acirc;tre-musique
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Atelier Jeunes &amp; politique
                    .middleLogo.flex
                        img.barbLogo(src='../acc/LOGOW.png')
                div
                    img.imageBox(src='../acc/foule.png')
                    .centerAbs.veryBIG.onehalfrem.whiteText(style='color: white;text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;') Jeunes et Politique
            // ARCHIVES
            .archives
                .lignefooter
                h2.arch Archives
                .lignefooter
        .archiveWrapper
            // 2015Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2015
                    .vertLine
            .dateBoxStarter
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2015
                        .vertLine
                .basicBox.img
                    .infoBox
                        .wrapperInfo
                            .nom.whiteText Delirium Show
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText
                                | Braseap &amp;
                                br
                                | Cap Info ASBL
                    img.imageBox(src='../Image/Ateliers/DELIR.jpg')
            .openContentButton.delir
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.img.closed.delir
                img.imageBox.closed(src='../Image/Ateliers/DELIRP1.jpg')
            .basicBox.img.closed.delir
                img.imageBox.closed(src='../Image/Ateliers/DELIRP3.jpg')
            .basicBox.img.closed.delir
                img.imageBox.closed(src='../Image/Ateliers/DELIRP2.jpg')
            .basicBox.img.closed.delir
                img.imageBox.closed(src='../Image/Ateliers/DELIRP4.jpg')
            // 2014Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2014
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2014
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText La Sorpresa
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Femmes Immigr&eacute;es et Culture asbl
                    .iconDate
                        .txt.onerem Depuis 2009
            // 2012Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2012
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2012
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText Traces de Vie
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Au Four et au Moulin asbl
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Acteur sur sc&egrave;ne,
                        .nom.whiteText acteur dans la vie
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Forem Conseil Mons
                img.imageBox(src='../Image/Ateliers/ACT.jpg')
            .openContentButton.act
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.closed.act.nocontent
                .infoBox.noimg.text
                    .wrapperInfo
                        .nom.whiteText.nowrap Acteur sur sc&egrave;ne, acteur dans la vie
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText.summary
                            | Avec comme partenaire le Forem de Mons, depuis 2002, la Compagnie Barbiana a permis &agrave; des demandeurs d&rsquo;emploi
                            | &acirc;g&eacute;s de 18 &agrave; 57 ans de participer &agrave; une formation o&ugrave; les arts de la sc&egrave;ne deviennent
                            | des outils d&rsquo;interrogation et d&rsquo;action sur soi et le monde.
                            | La vie est un art &mldr; Mais quelle joie de conjuguer sa vie &agrave; son art.
            // 2010Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2010
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2010
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText Maison de l&apos;emploi
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText
                                | Bruxelles
                                br
                                br
                                |               Atelier Bocstael,
                                |               Atelier Quartier Nord,
                                |               Atelier Les Marolles,
                                |               Ateliers Annesseens
            .openContentButton.me
                span.minus.fas.fa-minus
                span.arrow.fas.fa-plus
            .basicBox.closed.me
                video(controls='')
                    source(src='../acc/maison de lemploi/QNmp4.m4v' type='video/mp4')
                    | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
            // 2009Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2009
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2009
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText Le Destin
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText En Avant asbl
            .basicBox.nocontent
                .infoBox.noimg
                    .wrapperInfo
                        .nom.whiteText Atelier Ados
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Compagnie Barbiana
            .basicBox.nocontent
                .infoBox.noimg
                    .wrapperInfo
                        .nom.whiteText Comme &ccedil;a...c&apos;est fait !
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Au Four et au Moulin asbl
            // 2008Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2008
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2008
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText Les Ados vous parlent&mldr;
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Libertalia asbl
            .basicBox.nocontent
                .infoBox.noimg
                    .wrapperInfo
                        .nom.whiteText L&rsquo;Anniversaire d&rsquo;Emilie
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Au four et au Moulin asbl
                .iconDate
                    .txt.onerem Depuis 2004
            // 2006Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2006
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2006
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText Malaya
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Th&eacute;&acirc;tre de la Communaut&eacute;
            // 2004Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 2004
                    .vertLine
            .dateBoxStarter.grow
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 2004
                        .vertLine
                .basicBox.nocontent
                    .infoBox.noimg
                        .wrapperInfo
                            .nom.whiteText Rom&eacute;o &amp; Juliette
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Au Four et au Moulin asbl
            // 1998Y
            .dateBox.collapsed
                .dateWrapper
                    .vertLine
                    .yeardate 1998
                    .vertLine
            .dateBoxStarter
                .dateBox
                    .dateWrapper
                        .vertLine
                        .yeardate 1998
                        .vertLine
                #xeno.basicBox.img
                    .infoBox
                        .wrapperInfo
                            .nom.whiteText X&eacute;nophobia
                            .middleSep
                                .lignefooter
                                span.fas.fa-theater-masks
                                .lignefooter
                            .locationTime.whiteText Charleroi
                    img.imageBox(src='../Image/Ateliers/XENO1.jpg')
