doctype html
head
    meta(charset='utf-8')
    title= "Barbiana | " + title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Glegoo&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/faac724a8b.js' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css2?family=Glegoo&family=Libre+Baskerville&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap' rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='js/scripts.js')
#head.defaultWideDiv
    img.logo(src='Image/LOGO-1.jpg' alt='Barbiana')
    .subtitle
        .lignefooter
        |           Compagnie de th&eacute;&acirc;tre action
        .lignefooter
    //
      <div class="sous_titre">
      <hr class="style17" id="subtitle">
      </div>
#main.defaultWideDiv.accueil
    .QuoteDiv
        blockquote.mainQuote
            | « L&apos;art appartient
            br
            |  &agrave; tous »
    .mainText
        #border-leftDiv
        blockquote.mainPar
            | Barbiana est une compagnie de th&eacute;&acirc;tre-action bas&eacute;e &agrave; Mons.
            | Au d&eacute;but des ann&eacute;es 70, Barbiana voit le jour dans la r&eacute;gion du Centre.
            | Deux groupes de jeunes adultes issus de milieux ouvriers
            | et plus particuli&egrave;rement de l&rsquo;immigration s&rsquo;investissent intens&eacute;ment dans les mouvements sociaux.
            | L&rsquo;artistique devient un moyen d&rsquo;engagement citoyen.
            | Barbiana d&eacute;veloppe tout d&rsquo;abord ce qui deviendra un Centre d&rsquo;Expression et de Cr&eacute;ativit&eacute;.
            | Barbiana favorise le croisement de divers milieux sociaux,
            | la rencontre, la d&eacute;couverte avec des univers culturels et artistiques diff&eacute;rents.
            | La Compagnie Barbiana sera reconnue par la Communaut&eacute; fran&ccedil;aise de Belgique en 1997.
    .mainMenu
        .topBar
            #leftmenubutton.topMenu.unselectable
                .menuText Programme
                //.sous_titre.subtitle_menu
                    //hr.sousligne.ProSL
                .conteneurMenuLigne
                    .lignefooter
                    span.smallArrow
                        |§
                    .lignefooter
            #midmenubutton.topMenu.unselectable
                .menuText Histoire
                .conteneurMenuLigne
                    .lignefooter
                    span.smallArrow
                        | §
                    .lignefooter
            #rightmenubutton.topMenu.unselectable
                .menuText Contact
                .conteneurMenuLigne
                    .lignefooter
                    span.smallArrow
                        | §
                    .lignefooter
        .Imgs
            .LeftSide
            #LeftImg.FullMenu
                .invisWrapper.flexing
                    a(href='programme/acc')
                        .menuOption
                            .tabText
                                .triangleRight &#x25BA;
                                |  Ateliers de cr&eacute;ation collective
                    a(href='programme/crea_pro')
                        .menuOption
                            .tabText
                                .triangleRight &#x25BA;
                                |  Cr&eacute;ations professionnelles
                    a(href='programme/events')
                        .menuOption
                            .tabText
                                .triangleRight &#x25BA;
                                |  Ev&egrave;nements
                    a(href='programme/workshops')
                        .menuOption
                            .tabText
                                .triangleRight &#x25BA;
                                |  Workshops
            .Middle
            #MidImg.FullMenu
                .invisWrapper.horizontalFlex
                    div(style='position: relative;')
                        .imgOutline
                        img.barbHistoire(src='histoire.jpg' style='position: relative;')
                    .histoire
                        | La compagnie Barbiana prend ses racines dans l&rsquo;exp&eacute;rience &eacute;ducative
                        | de l&rsquo;&eacute;cole de Barbiana pour &eacute;voluer petit &agrave; petit vers une structure artistique
                        | au service des milieux populaires.
                        | L&rsquo;&Eacute;cole de Barbiana est une &eacute;cole exp&eacute;rimentale qui fut fond&eacute;e et anim&eacute;e, de 1954 &agrave; 1967,
                        | par le pr&ecirc;tre Lorenzo Milani &agrave; Barbiana, hameau de la commune de Vicchio perdu parmi les montagnes du Mugello,
                        | &agrave; 45 km de Florence, en Italie. Cette exp&eacute;rience &eacute;ducative novatrice provoqua un &acirc;pre d&eacute;bat sur
                        | l&rsquo;innovation en mati&egrave;re de p&eacute;dagogie dans les ann&eacute;es 1960, notamment apr&egrave;s la publication de
                        | Lettre &agrave; une ma&icirc;tresse d&rsquo;&eacute;cole, ouvrage tr&egrave;s pol&eacute;mique sur l&rsquo;&eacute;cole obligatoire de l&rsquo;&eacute;poque,
                        | r&eacute;dig&eacute;e collectivement par huit anciens &eacute;l&egrave;ves de Barbiana sous la direction
                        | (mais sans l&rsquo;intervention directe, comme lui-m&ecirc;me le r&eacute;p&eacute;ta &agrave; plusieurs reprises)
                        | de Milani.
            .RightSide
            #RightImg.FullMenu
                .invisWrapper.corners
                    #cornerhg.corner
                        .job.bigJob
                            .ligneJob
                            .jobtitle
                                | Ateliers de création collective
                                br
                                |  créations professionnelles
                                br
                                |  communication
                            .ligneJob
                        div Covino Bilal Luca
                        div
                            i.fas.fa-phone-square
                            | &nbsp;+32 (0) 499 81 94 66
                        div
                            i.fas.fa-envelope
                            | &nbsp;bilalcovino@barbiana.be
                    #cornerhd.corner
                        .job.bigJob
                            .ligneJob
                            .jobtitle
                                | Evénements – résidences
                                br
                                |  relations publiques - Tiers-lieu
                            .ligneJob
                        div Covino Zaccaria
                        div
                            i.fas.fa-phone-square
                            | &nbsp;+32 (0) 498 10 83 91
                        div
                            i.fas.fa-envelope
                            | &nbsp;zaccariacovino@barbiana.be
                    #cornerbg.corner
                        .job.bigJob
                            .ligneJob
                            .jobtitle
                                | ateliers de créations collective
                                br
                                |  Tiers-lieu - gestion administrative
                            .ligneJob
                        div Schoemans Léopold
                        div
                            i.fas.fa-phone-square
                            | &nbsp;+32 (0) 470 88 71 02
                        div
                            i.fas.fa-envelope
                            | &nbsp;leopold@barbiana.net
                    #cornerbd.corner
                        div Général
                        div
                            i.fas.fa-envelope
                            | &nbsp;compagniebarbiana@Skynet.be
#footer.defaultWideDiv
    .footerwraper
        .lignefooter
        a(href='https://www.facebook.com/CBarbiana/')
            span#facebook.socials.fab.fa-facebook.fa-2x
        .lignefooterShort
        a(href='https://www.instagram.com/explore/tags/th%C3%A9%C3%A2tre/')
            span#instagram.socials.fab.fa-instagram.fa-2x
        .lignefooterShort
        a(href='mailto:compagniebarbiana@skynet.be,hayatnciri@skynet.be')
            span#mail.socials.fas.fa-envelope.fa-2x
        #middleFooter.lignefooter
        .optBreak
        .wrapperSponsor.FTAW
            .sponsors.FTAX
                .backgroundImg.FTA
                img.hiddenImg(src='Image/fta.png')
        .lignefooterSemiShort
        .wrapperSponsor.CTAW
            .sponsors.CTAX
                .backgroundImg.CTA
                img.hiddenImg(src='Image/Spons/cta.jpg')
        .lignefooterSemiShort
        .wrapperSponsor
            .sponsors.FWBX
                .backgroundImg.FWB
                img.hiddenImg(src='Image/Spons/FWB_VERTI_RVB.png')
        .lignefooterSemiShort
        .wrapperSponsor.WALLOW
            .sponsors.WALLONIE
                .backgroundImg.WALLO
                img.hiddenImg(src='Image/Spons/wallone_rgb.png')
        .lignefooterSemiShort
        .wrapperSponsor.HAINW
            .sponsors.HAINAUT
                .backgroundImg.HAIN
                img.hiddenImg(src='Image/Spons/hainaut_rvb.png')
        .lignefooterSemiShort
        #wrapperMons.wrapperSponsor
            .sponsors.MONS
                .backgroundImg.MNS
                img.hiddenImg(src='Image/Spons/mons-rvb.png')
        .lignefooterSemiShort
        .wrapperSponsor
            .sponsors
                .backgroundImg.START
                img.hiddenImg(src='../Image/Spons/START-Logo.png')
        #rightLine.lignefooter
.address.defaultWideDiv
    .lignefooter
    | Compagnie Barbiana &nbsp;
    i.fas.fa-map-marker-alt
    | &nbsp; 1 Rue Adolphe Pêcher, 7000 Mons, Belgique
    .lignefooter
#subfooter.defaultWideDiv
    | Made with
    i#heart.fas.fa-heart(style='margin-left:6px;')
    | &nbsp;by&nbsp;
    a.william(href='https:/www.github.com/SalameWilliam') Salame William
