extends layout.pug
block content
    #main.defaultWideDiv
        .titleBox
            .titleWrap
                .lignefooter
                h1 Cr&eacute;ations professionnelles
                .lignefooter
        //2022
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2022
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2022
                    .vertLine

            .basicBox.nocontent
                .infoBox.noimg
                    .wrapperInfo
                        .nom.whiteText Sur le Fil rouge - Fracture arrogante
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                        .middleLogo.flex.ofiverem.f600(style='font-weight: bold; bottom: 20px; text-align: center;')
                            | Com&eacute;dien et Texte : 
                            br
                            | Bilal Luca Covino
                            br
                            |  Musicien : Nicolas Meunier
                        .middleBottom.ofiverem
        .openContentButton.filrougeVidz
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.closed.filrougeVidz.img
            video(controls='')
                source(src='../crea_pro/filRouge_video.mp4' type='video/mp4')
                | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.

        .basicBox.img
                .infoBox.biggerbottomPadding
                    .wrapperInfo
                        .nom.whiteText Identita, l'année du masque
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .middleLogo.flex.ofiverem.f600(style='font-weight: bold; bottom: 20px; text-align: center;')
                            | Œil extérieur : 
                            br
                            | Anne-Laure Mouchette
                        .middleBottom.ofiverem
                img.imageBox(src="../crea_pro/identita_creaPro.jpg")
        .openContentButton.identitaCrea
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.identitaCrea
            img.imageBox.closed.identitaCrea(src='../crea_pro/identita_creaPro_txt.png')


        .basicBox.img
                .infoBox.biggerbottomPadding
                    .wrapperInfo
                        .nom.whiteText Pilou Carmin
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                .iconDate
                    a(href='../crea_pro/Pilou-Carmin.pdf' target='_blank' rel='noopener noreferrer')
                        i.buyable.fas.fa-file-pdf.fa-2x
                img.imageBox(src="../crea_pro/pilou-carmin.jpg")
        .openContentButton.pilou
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.closed.pilou.nocontent
            .infoBox.noimg.text.biggerbottomPadding
                .wrapperInfo
                    .locationTime.whiteText.summary
                        | Trois acteur-ices reconstituent le récit d’un appelé du contingent français pendant la guerre d’Algérie.
                        | Anna, Anne-Laure et Barnabé s’approprient la parole de ce grand-père qui répète, à chaque repas de famille « Oui mais moi, j’ai fait l’Algérie ».
                        | Et alors ? Et après ? Sa petite fille tente d’en savoir plus, et lui pose des questions.
                        | « Mais tu as fait quoi, papi, en Algérie ? ».
                        | La parole est empêchée, la mémoire défaillante et alors, comment savoir ?
                        | La petite fille a maintenant 30 ans, elle se tient devant vous avec deux acteur-ices, et ensemble ils demandent : « Qu’ont-ils fait en Algérie, nos grands-pères pour être si nombreux à se taire ? »       
        .basicBox.closed.pilou.nocontent
            .infoBox.noimg.text
                .wrapperInfo
                    .nom.whiteText.nowrap Interprétation
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText
                        | Barnabé COUVRANT, 
                        br
                        | Anne-Laure MOUCHETTE, 
                        br
                        | Anna SOLOMIN
                    .middleBottom.ofiverem  
                        | Texte et mise en scène :
                        br
                        | Barnabé COUVRANT, Anne-Laure MOUCHETTE, Anna SOLOMIN
        .basicBox.img.closed.pilou
            img.imageBox.closed.pilou(src='../crea_pro/pilou_1.jpg')
        .basicBox.img.closed.pilou
            img.imageBox.closed.pilou(src='../crea_pro/pilou_2.jpg')

        //2021
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2021
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2021
                    .vertLine
            .basicBox.img
                .infoBox.biggerbottomPadding
                    .wrapperInfo
                        .nom.whiteText Sur le fil rouge
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText En cours de cr&eacute;ation
                .iconDate
                    a(href='https://www.culture.cfwb.be/star_catalogue/Controler?jsysACTION=portal.login&jsysPORTALURL=http%3A%2F%2Fservices-web.etnic.be%3A5080%2Fservices%2Finternal%2Fform%3Ftype%3Dartiste%2B%2Cspectacle%26domain%3DSTAR%2B%2CSTAR&jsysPORTALUSERID=&sds=draftData&pTypeFormulaire;String=&pAgentMCF;String=Non&jsysMODE=Interview&jsysIDS=userData&jsysIDS=draftData&jsysSDS=draftData&jsysCODOC=view_spectacle_artiste&jsysTYPE=ji_html&pIsRenouvellement;String=off&jsysPORTALREDIRECT=%3FRetourJway%3Dtrue&AJAXKeepAliveUrl;String=%3FRetourJway%3Dtrue&jsysPORTALDRAFTID=1185060701,377227021&pFormIDSpectacle;String=377227021&pFormIDArtiste;String=1185060701&pLibelleSaison;String=2021-2022&usage=normal&CodeStar;String=1171-29&pPublicationScolaire;String=Non' target='_blank' rel='noopener noreferrer')
                        i.buyable.fas.fa-coins.fa-lg
                img.imageBox(src='../filrouge/filrouge_affiche.jpg')
        .basicBox.img
            video(controls='')
                source(src='../video-1620648096.mp4' type='video/mp4')
                | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
        .openContentButton.filrouge
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.closed.filrouge.nocontent
            .infoBox.noimg.text.biggerbottomPadding
                .wrapperInfo
                    .locationTime.whiteText.summary
                        | Un jeune vagabond, errant, dans les rues de la vie, Il croise et rencontre des &ecirc;tres &eacute;corch&eacute;s.
                        | Il &eacute;coute et s&apos;impr&egrave;gne des dires de toutes ces &acirc;mes abim&eacute;es.
                        | Aujourd&apos;hui, il est plusieurs, il n&apos;est plus seul.
                        | A travers ces multiples trajectoires, il s&apos;efforce de trouver des r&eacute;ponses, un &eacute;quilibre et enfin la paix.
                        | Pendant ce temps-l&agrave;, &agrave; l&apos;int&eacute;rieur, &ccedil;a bouge et &ccedil;a s&apos;enflamme , il doit parler,
                        | il doit faire entendre ces souffrances avant qu&apos;on les oublie.
        .basicBox.img.closed.filrouge
            img.imageBox.closed.filrouge(src='../filrouge/C0062T01.JPG')
        .basicBox.img.closed.filrouge
            img.imageBox.closed.filrouge(src='../filrouge/C0070T01.JPG')
        .basicBox.img.closed.filrouge
            img.imageBox.closed.filrouge(src='../filrouge/DSC06675.JPG')
        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText Amar B
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Compagnie Barbiana
            img.imageBox(src='../crea_pro/Amar B/amar_b-affiche.jpg')
            .iconDate
                a(href='https://www.culture.cfwb.be/star_catalogue/Controler?jsysACTION=portal.login&jsysPORTALURL=http%3A%2F%2Fservices-web.etnic.be%3A5080%2Fservices%2Finternal%2Fform%3Ftype%3Dartiste%2B%2Cspectacle%26domain%3DSTAR%2B%2CSTAR&jsysPORTALUSERID=&sds=draftData&pTypeFormulaire;String=&pAgentMCF;String=Non&jsysMODE=Interview&jsysIDS=userData&jsysIDS=draftData&jsysSDS=draftData&jsysCODOC=view_spectacle_artiste&jsysTYPE=ji_html&pIsRenouvellement;String=off&jsysPORTALREDIRECT=%3FRetourJway%3Dtrue&AJAXKeepAliveUrl;String=%3FRetourJway%3Dtrue&jsysPORTALDRAFTID=1951608316,1951608456&pFormIDSpectacle;String=1951608456&pFormIDArtiste;String=1951608316&pLibelleSaison;String=2020-2021&usage=normal&CodeStar;String=1171-19&pPublicationScolaire;String=Non' target='_blank' rel='noopener noreferrer')
                    i.buyable.fas.fa-coins.fa-lg
        .openContentButton.amarb
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.closed.amarb.nocontent
            .infoBox.noimg.text
                .wrapperInfo
                    .locationTime.whiteText.summary.amarBtext
                        | Deux trajectoires se percutent quand Najat, étudiante, disparaît sans laisser de traces. Son frère, Amar, est à sa recherche.
                        | Et la dernière personne à l'avoir vue, serait son ancienne professeure de français, Chantal Meunier.
                        | La rencontre entre Amar, « l’Arabe » et Chantal, "la prof", est un creuset de sentiments exacerbés où chacun semble chercher une réponse.
                        | « Nos peurs se nourrissent l’une, l’autre » dit Amar.
                        | « J’ai tout donné à mes élèves » réplique Chantal Meunier.
                        | Chacun cherche sa vérité chez l’autre…
                        | L'absente, Najat, sera-t-elle la clé qui les révèlera à eux-mêmes ?
        //.basicBox.img.closed.amarb
            img.imageBox.closed.amarb(src='../crea_pro/Amar B/amar_b-21_10.jpg')
        //.basicBox.img.closed.amarb
            img.imageBox.closed.amarb(src='../crea_pro/Amar B/amar_b-12_11.jpg')
        //.basicBox.img.closed.amarb
            img.imageBox.closed.amarb(src='../crea_pro/Amar B/amar_b-19_11.jpg')
        .basicBox.closed.amarb
            video(controls='')
                source(src='../crea_pro/AmarB - création 2019 teaser1.mp4' type='video/mp4')
                | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
        .basicBox.closed.amarb
            video(controls='')
                source(src='../crea_pro/AmarB  - création 2019 teaser2.mp4' type='video/mp4')
                | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
        // 2019
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2019
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2019
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Amar B
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Compagnie Barbiana
                img.imageBox(src='../crea_pro/AMARB.png')
                .iconDate
                    a(href='https://www.culture.cfwb.be/star_catalogue/Controler?jsysACTION=portal.login&jsysPORTALURL=http%3A%2F%2Fservices-web.etnic.be%3A5080%2Fservices%2Finternal%2Fform%3Ftype%3Dartiste%2B%2Cspectacle%26domain%3DSTAR%2B%2CSTAR&jsysPORTALUSERID=&sds=draftData&pTypeFormulaire;String=&pAgentMCF;String=Non&jsysMODE=Interview&jsysIDS=userData&jsysIDS=draftData&jsysSDS=draftData&jsysCODOC=view_spectacle_artiste&jsysTYPE=ji_html&pIsRenouvellement;String=off&jsysPORTALREDIRECT=%3FRetourJway%3Dtrue&AJAXKeepAliveUrl;String=%3FRetourJway%3Dtrue&jsysPORTALDRAFTID=1951608316,1951608456&pFormIDSpectacle;String=1951608456&pFormIDArtiste;String=1951608316&pLibelleSaison;String=2020-2021&usage=normal&CodeStar;String=1171-19&pPublicationScolaire;String=Non' target='_blank' rel='noopener noreferrer')
                        i.buyable.fas.fa-coins.fa-lg
        // 2018
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2018
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2018
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Jeune M&eacute;tis Conscient
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Premi&egrave;re 18 mai 2018
                    .middleLogo.flex.ofiverem.f600(style='font-weight: bold; bottom: 20px; text-align: center;')
                        img.barbLogo(src='../acc/LOGOW.png')
                        | Com&eacute;dien et Texte : Bilal Luca Covino
                        br
                        |  Direction d&apos;acteur : Hayat N&rsquo;Ciri
                        br
                        |  Mise en Sc&egrave;ne : Gianfranco Covino
                    .middleBottom.ofiverem
                img.imageBox(src='../crea_pro/concsient.jpg')
                .leftBottom.onehalfrem.whiteText.outline Jeune M&eacute;tis Conscient
                img.barbLogo.smallLogo.rightBottom(src='../acc/LOGOW.png')
        .openContentButton.jmc
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.closed.jmc.nocontent
            .infoBox.noimg.text
                .wrapperInfo
                    #poeme.locationTime.whiteText.summary
                        | Rire de rien depuis Rabat
                        br
                        |  L&apos;arnaque d&apos;Europa
                        br
                        |                 &Acirc; fait languir Ba
                        br
                        |                 Ils se sont moqu&eacute;s de toi
                        br
                        br
                        |                 Nonno a cru en vous
                        br
                        |                 De Pompei jusqu&apos;ici
                        br
                        |                 Il a creus&eacute; vos puits
                        br
                        |                 Nonna avait tout compris
                .middleBottom.ofiverem Bilal Luca Covino
        .basicBox.img.closed.jmc
            img.imageBox.closed.jmc(src='../crea_pro/jmc.jpg')
        .basicBox.img.closed.jmc
            img.imageBox.closed.jmc(src='../crea_pro/jmc2.jpg')
        // 2015
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2015
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2015
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText On vous raconte des Histoires
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Compagnie Barbiana
                img.imageBox(src='../crea_pro/HIST1.jpg')
        .openContentButton.hist
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.hist
            img.imageBox.closed.hist(src='../crea_pro/HIST2.jpg')
        .basicBox.closed.hist
            video(controls='')
                source(src='../crea_pro/On vous raconte des histoire - création.mov' type='video/mp4')
                | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
        // 2013
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2013
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2013
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Dabamaroc
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Maison Folie, Mons
                            br
                            |  DabaTh&eacute;&acirc;tre, Rabat, Maroc
                img.imageBox(src='../crea_pro/dbm (2).jpg')
                .leftBottom.onehalfrem.whiteText.outline Dabamaroc
        // 2011
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2011
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2011
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Petites histoires pour tuer l&apos;ennui
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Compagnie Barbiana
                img.imageBox(src='../crea_pro/PH1.jpg')
        .openContentButton.ph
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.ph
            img.imageBox.closed.ph(src='../crea_pro/PH2.jpg')
        // 2008
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2008
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2008
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Kenza
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Compagnie Barbiana
                img.imageBox(src='../crea_pro/KENZA1.jpg')
        // 2006
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2006
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2006
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Noces en cage
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Mons Pass&eacute; Pr&eacute;sent
                            br
                            |  Ville de Mons
                    .middleLogo.flex
                        img.monsLogo(src='../crea_pro/mons-b.png')
                img.imageBox(src='../rue.PNG')
        // 2005
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2005
                .vertLine
        .dateBoxStarter.grow
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2005
                    .vertLine
            .basicBox.nocontent
                .infoBox.noimg.biggerbottomPadding
                    .wrapperInfo
                        .nom.whiteText Charlequinades
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Mons Pass&eacute; Pr&eacute;sent
                            br
                            |  Ville de Mons
                    .middleLogo.flex(style='bottom: 100px;')
                        img.monsLogo(src='../crea_pro/mons-b.png')
                    .middleBottom.ofiverem
                        | Texte : Hayat N&apos;Ciri &amp; Michel Vanloo
                        br
                        |  Mise en sc&egrave;ne : Gianfranco Covino
                        br
                        |  Avec la participation de l&apos;art Kleine Akademie
        .basicBox.img
            video(controls='')
                source(src='../crea_pro/charl.mp4' type='video/mp4')
                | Votre navigateur ne prend pas en charge les vid&eacute;os HTML5.
        // 2003
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2003
                .vertLine
        .dateBoxStarter.grow
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2003
                    .vertLine
            .basicBox.nocontent
                .infoBox.noimg
                    .wrapperInfo
                        .nom.whiteText Le Destin de Zineb
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText MRAX
                    .middleBottom.onerem Cr&eacute;ation radiophonique
        .openContentButton.zineb
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.closed.zineb.nocontent
            .infoBox.noimg.text
                .wrapperInfo
                    .locationTime.whiteText.summary
                        | Zineb est une femme de 62 ans qui v&eacute;cut d&apos;abord, comme beaucoup, l&apos;&eacute;migration dans l&apos;ombre de son mari.
                        | Mari&eacute;e tr&egrave;s jeune, elle voit son homme, Ahmed, partir tenter sa chance en Belgique.
                        | Elle attend son retour saisonnier jusqu&apos;au jour ou elle est convi&eacute;e avec enfants et bagages, &agrave; le rejoindre en Belgique.
                        | Elle t&eacute;moigne de ses premi&egrave;res rencontres, des difficult&eacute;s li&eacute;es &agrave; la rencontre d&rsquo;un environnement radicalement diff&eacute;rent,...
                        | Zayneb est un personnage fictif cr&eacute;&eacute; sur base de t&eacute;moignages de femmes originaires du Maroc.
                .middleBottom.ofiverem Com&eacute;dienne : Hayat N&apos;Ciri
        // 2000
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2000
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2000
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Un jour il faudra que je leur dise
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Compagnie Barbiana
                img.imageBox(src='../crea_pro/DISE.jpg')
        .openContentButton.dise
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.dise
            img.imageBox.closed.dise(src='../crea_pro/DISE2.jpg')
        // 1998
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 1998
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 1998
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Colapesce
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Compagnie Barbiana
                    .middleLogo.flex
                        img.barbLogo(src='../acc/LOGOW.png')
                img.imageBox(src='../crea_pro/COLA1.jpg')
        .openContentButton.col
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.col
            img.imageBox.closed.col(src='../crea_pro/COL2.jpg')
    
