extends layout.pug
block content
    #main.defaultWideDiv
        .titleBox
            .titleWrap
                .lignefooter
                h1 Ev&egrave;nements
                .lignefooter
        // PRESENT

        //2022
        .dateBox
            .dateWrapper
                .vertLine
                .yeardate 2022
                .vertLine

        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText Nouvelles en Fête
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
            img.imageBox(src='../events/nouvellesEnFete.jpg')

        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText Bozza
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                        .middleBottom.ofiverem
            .iconDate
                a(href='https://barbiana.net/events/Bozza-Programme2.pdf' target='_blank' rel='noopener noreferrer')
                    i.buyable.fas.fa-file-pdf.fa-2x
            img.imageBox(src='../events/bozza_affiche.png')
        .openContentButton.bozza
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.closed.bozza.nocontent
            .infoBox.noimg.text.biggerbottomPadding
                .wrapperInfo
                    .locationTime.whiteText.summary
                        a(href='https://l.facebook.com/l.php?u=https%3A%2F%2Ffb.watch%2FebPPdKXDaY%2F%3Ffbclid%3DIwAR16eKUoD2Tp5moc7z2ICkojMM5wSO4CQ19aBl28-QOM8xoFLjBEt-sSAEA&h=AT0wQ8xm2ueiRlUswgSvO-XKpLHfsBU3XNOLfac4uFq3wBmgU7mmSC7YR2titog35YU32jl46vGcO1b9Tm6Qq966yzpcCVe6SX-vWqUhq9cop1rSMxMXxAYGZzDaIbAqu6GNWg' target='_blank' rel='noopener noreferrer') Voir la vidéo de présentation
                        br
                        br
                        a(href='https://www.youtube.com/watch?v=AszNLVwfIR0') Voir l'aftermovie
        .basicBox.closed.bozza.nocontent
            .infoBox.noimg.text.biggerbottomPadding
                .wrapperInfo
                    .locationTime.whiteText.summary
        
        //2021
        .dateBox
            .dateWrapper
                .vertLine
                .yeardate 2021
                .vertLine
        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText Rencontres d'Automne du Théâtre-Action
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText
                        | Amar B, Sur le fil rouge et Un joli rêve
                .middleBottom.ofiverem
                    | Conception & Organisation :
                    br
                    | Covino Zaccaria
                .iconDate
                    a(href='https://www.theatre-action.be/wp-content/uploads/2021/03/Programme_Enragez-vous_2021_web_def.pdf?fbclid=IwAR2tsr-zt7Uy2gSkyiFh4S7lU2aTbOopyeoZQfxyXxpLYnGlcBezsoqDZy8' target='_blank' rel='noopener noreferrer')
                        i.buyable.fas.fa-file-pdf.fa-2x
            img.imageBox(src='../events/enragez_vous.png')
        .basicBox.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Parc aux Artistes
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText 15 Ao&ucirc;t
                .middleBottom.ofiverem Conception &amp; Organisation : Covino Zaccaria &amp; Hayat N&apos;Ciri
                .cancelled.onehalfrem(style='top: 20px;bottom: auto;') Report&eacute; en 2022
        // 2020
        .break
        .dateBox
            .dateWrapper
                .vertLine
                .yeardate 2020
                .vertLine
        .basicBox.img
            .infoBox
                .wrapperInfo.center.leftStyled.parcArt
                    .nom.whiteText Parc aux Artistes
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.leftStyled.onerem.whiteText Ballade th&eacute;&acirc;trale par Th&eacute;&acirc;tre et reconciliation
                    .leftStyled.locationTime.onerem.whiteText Wide walls  par Esther Waters (R&eacute;cital)
                    .leftStyled.locationTime.onerem.whiteText Fascinante par Dario Bruno (Th&eacute;atre, cabaret culinaire)
                    .leftStyled.locationTime.onerem.whiteText Murmure oriental par Mousta Largo (Conte)
                    .leftStyled.locationTime.onerem.whiteText Sur le fil rouge par Bilal Luca Covino et Nicolas Menier (Slam, Po&eacute;sie)
                    .leftStyled.locationTime.onerem.whiteText
                        | La lutte des classes d&apos;apr&egrave;s Ascanio Celestini
                        br
                        |  par Salom&eacute; Crickx et Iacopo Bruno (Th&eacute;&acirc;tre)
                    .leftStyled.locationTime.onerem.whiteText Oh Boy ! par Psycho-logos (R&eacute;cital-Performance)
            div
                .cancelled.onehalfrem Report&eacute; : COVID-19
                img.imageBox(src='../events/Evenement Parc aux Artistes 2020.png')
        // 2019
        .break
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2019
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2019
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText SOUK
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                    .middleBottom.ofiverem Conception : Covino Zaccaria
                img.imageBox(src='../events/Evenement SOUK 1de2  2019.jpeg')
        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText SOUK
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
            div
                img.imageBox(src='../events/Evenement SOUK 2de2   2019.png' style='z-index: 1;position: relative;')
                img.imageBox.onTopImg(src='../events/Evenement SOUK 1de2  2019.jpeg' style='z-index: 0;')
        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText FITA Borinage
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Th&eacute;&acirc;tre des rues
                    .locationTime.whiteText Octobre
                .middleLogo.flex(style='bottom: 25px;')
                    img.barbLogo(src='../acc/LOGOW.png')
                    img.ctaLogo(src='../Image/cta_blanc.png')
            img.imageBox(src='../events/fitta/fitta3.jpg')
            .leftBottom.onehalfrem.whiteText.outline FITA
        .openContentButton.fitta
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.fitta
            img.imageBox.closed.fitta(src='../events/fitta/fitta1.jpg')
        .basicBox.img.closed.fitta
            img.imageBox.closed.fitta(src='../events/fitta/fitta2.jpg')
        .basicBox.img.closed.fitta
            img.imageBox.closed.fitta(src='../events/fitta/fitta4.jpg')
        .basicBox.img.closed.fitta
            img.imageBox.closed.fitta(src='../events/fitta/fitta5.jpg')
        .basicBox.img.closed.fitta
            img.imageBox.closed.fitta(src='../events/fitta/fitta6.jpg')
        .break
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2018
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2018
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Ballade th&eacute;&acirc;trale
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                img.imageBox(src='../events/Evenement Ballade theatrale 2018.jpg')
        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText Vitrine artistique
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Septembre - D&eacute;cembre
                #vitrineLogo.middleLogo.flex
                    img.barbLogo(src='../acc/LOGOW.png')
                .middleBottom.ofiverem
                    | Photographes : Jonathan Brisson, Lucas Dragone
                    br
                    |  Sculpteur : Marco Vaes
            img.imageBox(src='../crea_pro/vitrine1.png')
            .leftBottom.onehalfrem.whiteText.outline Vitrine artistique
        .openContentButton.vitrine
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.vitrine
            img.imageBox.closed.vitrine(src='../crea_pro/vitrine2.png')
            .whiteText.leftBottom.onerem.outline Jonathan Brisson
        .basicBox.img.closed.vitrine
            img.imageBox.closed.vitrine(src='../crea_pro/vitrine3.png')
            .whiteText.leftBottom.onerem.outline Jonathan Brisson
        .basicBox.img.closed.vitrine
            img.imageBox.closed.vitrine(src='../crea_pro/vitrine4.png')
            .whiteText.leftBottom.onerem.outline Jonathan Brisson
        .basicBox.img.closed.vitrine
            img.imageBox.closed.vitrine(src='../events/vaes1.png')
            .whiteText.leftBottom.onerem.outline Marco Vaes
        .basicBox.img.closed.vitrine
            img.imageBox.closed.vitrine(src='../events/vaes2.jpg')
        .basicBox.img.closed.vitrine
            img.imageBox.closed.vitrine(src='../events/gueule2.jpg')
            .whiteText.leftBottom.onerem.outline Looka Loopa
        .basicBox.img.closed.vitrine
            img.imageBox.closed.vitrine(src='../events/gueule3.jpg')
            .whiteText.leftBottom.onerem.outline Looka Loopa
    
