doctype html
head
    meta(charset='utf-8')
    title= "Barbiana | " + title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    link(rel='stylesheet' href='../css/style.css')
    link(rel='stylesheet' href='../css/default.css')
    link(rel='stylesheet' href='../css/list.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Glegoo&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/faac724a8b.js' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css2?family=Glegoo&family=Libre+Baskerville&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap' rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js' integrity='sha512-vPeZ7JCboHcfpqSx5ZD+/jpEhS4JpXxfz9orSvAPPj0EKUVShU2tgy7XkU+oujBJKnWmu4hU7r9MMQNWPfXsYw==' crossorigin='anonymous')
    script(src='/js/scripts.js')
        //HEAD//


        //BODY//
.fullscreenDIV
    img#FSIMG.fullscreenIMG(src='' alt='')
#head.defaultWideDiv
    img.logo(src='../Image/LOGO-1.jpg' alt='Barbiana')
    .sous_titre
        .footerwraper
            .lignefooterShort
            .menuLigne
                .lignefooterShort
                span#prog.socials Programmes
                .lignefooterCC
                span#flech.socials.fas.fa-caret-right
                .lignefooterCC
                a(href='acc')
                    span#acc.socials.hiddenMenu Ateliers de cr&eacute;ation collective
                .lignefooterCC
                a(href='crea_pro')
                    span#cp.socials.hiddenMenu Cr&eacute;ations professionnelles
                .lignefooterCC
                a(href='events')
                    span#ev.socials.hiddenMenu Ev&egrave;nements
                .lignefooterCC
                a(href='workshops')
                    span#ev.socials.hiddenMenu Workshops
                .lignefooterShort
            #rightLine.lignefooter
block content
#footer.defaultWideDiv
    .footerwraper
        .lignefooter
        a(href='https://www.facebook.com/CBarbiana/')
            span#facebook.socials.fab.fa-facebook.fa-2x
        .lignefooterShort
        a(href='https://www.instagram.com/explore/tags/th%C3%A9%C3%A2tre/')
            span#instagram.socials.fab.fa-instagram.fa-2x
        .lignefooterShort
        a(href='mailto:compagniebarbiana@skynet.be,hayatnciri@skynet.be')
            span#mail.socials.fas.fa-envelope.fa-2x
        #middleFooter.lignefooter
        .optBreak
        .wrapperSponsor.FTAW
            .sponsors.FTAX
                .backgroundImg.FTA
                img.hiddenImg(src='../Image/fta.png')
        .lignefooterSemiShort
        .wrapperSponsor.CTAW
            .sponsors.CTAX
                .backgroundImg.CTA
                img.hiddenImg(src='../Image/Spons/cta.jpg')
        .lignefooterSemiShort
        .wrapperSponsor
            .sponsors.FWBX
                .backgroundImg.FWB
                img.hiddenImg(src='../Image/Spons/FWB_VERTI_RVB.png')
        .lignefooterSemiShort
        .optBreak
        .wrapperSponsor.WALLOW
            .sponsors.WALLONIE
                .backgroundImg.WALLO
                img.hiddenImg(src='../Image/Spons/wallone_rgb.png')
        .lignefooterSemiShort
        .wrapperSponsor.HAINW
            .sponsors.HAINAUT
                .backgroundImg.HAIN
                img.hiddenImg(src='../Image/Spons/hainaut_rvb.png')
        .lignefooterSemiShort
        #wrapperMons.wrapperSponsor
            .sponsors.MONS
                .backgroundImg.MNS
                img.hiddenImg(src='../Image/Spons/mons-rvb.png')
        .lignefooterSemiShort
        .wrapperSponsor
            .sponsors
                .backgroundImg.START
                img.hiddenImg(src='../Image/Spons/START-Logo.png')
        #rightLine.lignefooter
.address.defaultWideDiv
    .lignefooter
    | Compagnie Barbiana &nbsp;
    i.fas.fa-map-marker-alt
    | &nbsp; 1 Rue Adolphe Pêcher, 7000 Mons, Belgique
    .lignefooter
#subfooter.defaultWideDiv
    | Made with
    i#heart.fas.fa-heart(style='margin-left:6px;')
    | &nbsp;by&nbsp;
    a.william(href='https:/www.github.com/SalameWilliam') Salame William
