extends layout.pug
block content
    #main.defaultWideDiv
        .titleBox
            .titleWrap
                .lignefooter
                h1 Workshops
                .lignefooter
        .basicBox.nocontent.synop
            #synop.infoBox.noimg.flex
                .wrapperInfo
                    .nom.whiteText.onehalfrem
                        | Stages &agrave; la demande (Minimum 15h)
                        br
                        | Initiation &agrave; l&apos;expression th&eacute;&acirc;trale
                        br
                        | Initiation au jeu masqu&eacute;
                        br
                        | Initiation au th&eacute;&acirc;tre furtif (Th&eacute;&acirc;tre en rue)
                        
        //2022
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2022
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2022
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Improvisation th&eacute;&acirc;trale &amp; musicale
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Michel Mainil
                            br
                            |  Gianfranco Covino
                            br
                            br
                            |  Mons (11 au 15 avril 2022)
                img.imageBox(src='../workshop/workshop_2022.png')

        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2021
                .vertLine
        // 2021Y
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2021
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Improvisation th&eacute;&acirc;trale &amp; musicale
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Michel Mainil
                            br
                            |  Gianfranco Covino
                            br
                            br
                            |  Mons (17 au 21 ao&ucirc;t 2021)
                    .iconDate
                        a(href='../workshop/PROJET-STAGE-IMPRO-THEATRE-MUSIQUE-MAINIL-BARBIANA.pdf' target='_blank' rel='noopener noreferrer')
                            i.buyable.fas.fa-file-pdf.fa-2x
                img.imageBox(src='../workshop/185775115_2803243943339321_2804065424732078547_n.jpg')
        // 2020Y
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2020
                .vertLine
        .dateBoxStarter.grow
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2020
                    .vertLine
            #impro.basicBox.nocontent
                .infoBox.noimg
                    .wrapperInfo
                        .nom.whiteText Improvisation th&eacute;&acirc;trale &amp; musicale
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Michel Mainil
                            br
                            | Gianfranco Covino
                            br
                            |  Mons
                    .iconDate(style='margin-bottom:4px;')
                        a(href='../workshop/PROJET-STAGE-IMPRO-THEATRE-MUSIQUE-MAINIL-BARBIANA.pdf' target='_blank' rel='noopener noreferrer')
                            i.buyable.fas.fa-file-pdf.fa-2x(style='margin-left: -4px;')
                    .cancelled.onehalfrem(style='top: 20px;bottom: auto;') Report&eacute; : COVID-19
        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText Jeu Masqu&eacute;
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Mons
                .iconDate(style='margin-bottom:4px;')
                    a(href='../Jeu-masqué-1.pdf' target='_blank' rel='noopener noreferrer')
                        i.buyable.fas.fa-file-pdf.fa-2x(style='margin-left: -4px;')
                .middleBottom.onerem Dirig&eacute; par : Gianfranco Covino
            .cancelled.onehalfrem(style='top: 20px;bottom: auto;') Report&eacute; : COVID-19
            img.imageBox(src='../workshop/masque.jpg')
            #masquedText.leftBottom.whiteText.outline
                | Du 18 AVR. 2020 10:00 AU 19 AVR. 2020 17:00
                br
                | Rue Adolphe P&eacute;cher 1, 7000 Mons, Belgique
        .basicBox.img
            .infoBox
                .wrapperInfo
                    .nom.whiteText Initiation &agrave; la r&eacute;alisation de film vid&eacute;o
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Cin&eacute;project
            .cancelled.onehalfrem(style='top: 20px;bottom: auto;') Annul&eacute; : COVID-19
            img.imageBox(src='../workshop/stages.png')
        .dateBox.collapsed
            .dateWrapper
                .vertLine
                .yeardate 2019
                .vertLine
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2019
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Initiation &agrave; la r&eacute;alisation de film vid&eacute;o
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText Cin&eacute;project
                img.imageBox(src='../workshop/stages.jpg')
        // 2017Y
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2017
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo.onerem
                        .nom.whiteText Ecriture
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Dirig&eacute; par :
                            br
                            br
                            |  Layla Nabulsi
                            br
                            | Le Roeulx
                            br
                            br
                            |  Catherine Chaveri
                            br
                            | La Louvi&egrave;re
                            br
                            br
                            |  Lisa Di Sante
                            br
                            |  Chapelles-lez-
                            |                   Herlemont
                    .middleBottom.ofiverem Photo de : Looka Loopa
                img.imageBox(src='../acc/pdf/Portraits de femmes13.JPG')
                .leftBottom.onerem.whiteText.outline Stage d&apos;&eacute;criture
        .basicBox.img
            .infoBox
                .wrapperInfo.onerem
                    .nom.whiteText Inititation &agrave; la danse dans le cadre de &quot;La violence fa&icirc;tes aux femmes&quot;
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText
                        | Sara Lupoli
                        br
                        |  Marianna Moccia
                        br
                        | PianoB Naples Italie
                .middleBottom.ofiverem Photo de : Jean-Marc Leenders
            img.imageBox(src='../acc/pdf/Portraits de femmes12.png')
            .leftBottom.onerem.whiteText.outline Initiation &agrave; la danse
        // 2010Y
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2010
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Stage de th&eacute;&acirc;tre furtif
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                            | Module th&eacute;&acirc;tre de rue
                            br
                            | Li&egrave;ge
                    .whiteText.middleBottom.onerem Dirig&eacute; par : Hayat N&apos;Ciri &amp; Gianfranco Covino
                .leftBottom.onehalfrem.whiteText.outline Th&eacute;&acirc;tre furtif
                img.imageBox(src='../workshop/furtif/furtif1.jpg')
        .openContentButton.furtif
            span.minus.fas.fa-minus
            span.arrow.fas.fa-plus
        .basicBox.img.closed.furtif
            img.imageBox.closed.furtif(src='../workshop/furtif/futrif2.jpg')
        .basicBox.img.closed.furtif
            img.imageBox.closed.furtif(src='../workshop/furtif/furtif3.jpg')
        .basicBox.img.closed.furtif
            img.imageBox.closed.furtif(src='../workshop/furtif/furtif4.jpg')
        // 2009Y
        .dateBoxStarter
            .dateBox
                .dateWrapper
                    .vertLine
                    .yeardate 2009
                    .vertLine
            .basicBox.img
                .infoBox
                    .wrapperInfo
                        .nom.whiteText Stage de jeu masqu&eacute;
                        .middleSep
                            .lignefooter
                            span.fas.fa-theater-masks
                            .lignefooter
                        .locationTime.whiteText
                    .middleBottom.onerem Dirig&eacute; par : Gianfranco Covino
                    .iconDate
                        .txt.onerem Depuis 1997
                    .iconDate.leftSideDate
                        a(href='../workshop/PROJET-STAGE-IMPRO-THEATRE-MUSIQUE-MAINIL-BARBIANA.pdf' target='_blank' rel='noopener noreferrer')
                            i.buyable.fas.fa-file-pdf.fa-2x
                .leftBottom.onehalfrem.whiteText.outline Jeu masqu&eacute;
                img.imageBox(src='../workshop/stage.jpg')
        #archives.openContentButton.masqued
            span.upright Archives
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Maison Culturelle de Ath
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Ath
        // 2007Y
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Ligue de l&rsquo;Enseignement
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Mons
        // 2006Y
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Centre du Th&eacute;&acirc;tre-Action
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText W&eacute;pion
        // 1996 & 97Y
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Centre de Formation d&rsquo;Animateurs
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Bruxelles
        // 1993, 95 , 96Y
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Th&eacute;&acirc;tre du Croquemitaine
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Tournai
        // 1987-91
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Acad&eacute;mie Internationale
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Et&eacute; de Neufch&acirc;teau
        // 1987-89
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Centre de Formation d&rsquo;Animateurs
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Bruxelles
        // 1986-87
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Ecole de Cirque &laquo;&nbsp;Sans Filet&nbsp;&raquo;
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Bruxelles
        // 1986
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Maison des Jeunes &quot;Es Salam al Barnousi&quot;
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Casablanca, Maroc
        // 1985
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Th&eacute;&acirc;tre de l&apos;Echapp&eacute;e Belle
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Nice, France
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Centre culturel de Casablanca
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Maroc
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Cirque du soleil
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Montreal, Canada
        .basicBox.masqued.closed.nocontent
            .infoBox.noimg
                .wrapperInfo
                    .nom.whiteText Productions du dragon
                    .middleSep
                        .lignefooter
                        span.fas.fa-theater-masks
                        .lignefooter
                    .locationTime.whiteText Mons
    
