@media (max-width:1040px) {
    .showMenu {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }
}
.sous_titre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    color:#8c8b8b;
    font-size: 10pt;
    clip-path: none;
    bottom: -9px;
}
.sous_titre > .footerwraper {
    width: 80%;
    max-width: 1400px;
}
.menuLigne {
    display: flex;
    flex-grow: 20;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}
.hiddenMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    overflow: hidden;
    margin: 0;
    opacity: 0;
    white-space: nowrap;
}
.showMenu {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1;
}
.showMenu#acc {
    width: 201px;
    transition:  width 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 400ms 500ms ease-in-out, color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.showMenu#acc:hover {
    color : #264653;
}
.showMenu#cp {
    width: 182px;
    transition:  width 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 400ms 700ms ease-in-out, color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.showMenu#cp:hover {
    color :#2a9d8f;
}
.showMenu#ev {
    width: 84px;
    transition:  width 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 400ms 900ms ease-in-out, color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.showMenu#ev:hover {
    color:#e9c46a;
}
.lignefooterCC {
    border-bottom: 1px solid #8c8b8b;
    flex-grow: 0.1;
    height: 1px;
}
#flech {
    transform: rotate(90deg);
    color: #2a9d8f;
}
.menuOpen#flech {
    transform: rotate(0);
}
