.amarBtext {
    font-size: 1.1rem !important;
}

.imageBox {
    align-self: flex-start !important;
}
#main > *, .currentWrapper > *, .archiveWrapper > * {
    transition : all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.dateBoxStarter > * {
    transition : all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#vitrineLogo {
    bottom: 70px;
}
.fillBox {
    height: 350px;
    flex-grow: 1;
    border-radius: 6px;
    margin: 10px 5px 10px 5px;
    opacity: 0;
    /* background-color: #e76f51; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: scale(0); */
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
                flex-grow 600ms ease-in-out,
                opacity 1500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.hitBox {
    position: absolute;
    width: 150%;
    height: 350%;
    z-index: 0;
}
.menuLigne {
    position: relative;
}
.outlineBox {
    border-radius: 6px;
    border: 10px solid #e76f51;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}
.plainBox {
    flex-grow: 1;
    opacity: 0;
    border-radius: 6px;
    margin: 10px 5px 10px 5px;
    height: 350px;
    background-color: #e76f51;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
                flex-grow 600ms ease-in-out,
                opacity 1500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.fillBoxGrow {
    opacity:1;
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    max-width: 1800px;
    flex-grow: 0;
    min-height: 0;
    margin-bottom: 20px;
    transition: max-height 1s linear;
}
.iconDate.leftSideDate {
    left: 30px;
}
#head {
    z-index: 2;
}
@media (max-width:800px) {
    .titleBox {
        font-size: 100% !important;
    }
}
#synop {
    background-color: #e76f51;
}
#synop > .wrapperInfo {
    text-align: left;
    max-width: 400px;
    margin-top: 0;
}
@media (max-width:500px) {
    .titleBox {
        font-size: 100% !important;
    }
}
@media (min-width:1040px) {
    .fa-clock{
        margin-bottom: -15px;
        margin-top: 5px;
    }
    .titleWrap > .lignefooter {
        min-width: 80px;
    }
    .closed > video {
        max-width: 0;
    }
    .closed.openList > video {
        max-width: 800px;
    }
    .basicBox.closed.openList {
        min-width: 240px;
    }
    .basicBox.closed {
        height: 350px;
        position: relative;
        border-radius: 6px;
    }
    .basicBox.closed:not(.openList){
        max-width: 0;
    }
    .basicBox.closed.openList.img {
        max-width: 800px;
    }
    .grow{
        flex-grow: 1;
    }
    .infoBox:hover
    {
        opacity: 1;
    }
}
@media (max-width:1040px) {
    .iconDate > .onerem {
        font-size: 1.3rem;
    }
    .onerem, .ofiverem {
        font-size: 3vw !important;
    }
    .basicBox > .leftBottom {
        font-size: 4.5vw !important;
    }
    .nom.whiteText {
        font-size: 4vw !important;
    }
    .buyable {
        font-size:2.3rem !important;
    }
    video {
        min-width: unset !important;
    }
    .defaultWideDiv,#main {
        width: 90%;
        min-width: 0;
    }
    .sous_titre > .footerwraper {
        width: 100%;
    }
    .logo {
        flex-grow: 0;
        height: 30%;
    }
    .lignefooter {
        flex-grow: 20;
    }
    .sous_titre {
        font-size: 1rem;
    }
    .imageBox {
        height:auto !important;
        max-width: 100% !important;
        min-height: auto !important;
        width: 100%;
    }
    .basicBox.img {
        height: auto !important;
    }
    .basicBox {
        width: 100% !important;
        min-width: 100% !important;
    }
    #main {
        flex-direction: column !important;
        flex-wrap: nowrap;
    }
    .dateBox {
        flex-direction: row !important;
        height: unset !important;
        width: 100%;
        max-width: unset !important;
    }
    .dateBoxStarter {
        width: 100%;
    }
    .dateBoxStarter > .dateBox {
        visibility: collapse;
        position: absolute;
    }
    .dateBoxStarter > .noBtn {
        visibility: collapse;
    }
    .dateWrapper {
        width: 80%;
        height: 100% !important;
        flex-direction: row !important;
    }
    .vertLine {
        border-bottom: 1px solid white !important;
        flex-grow: 20;
    }
    .yeardate {
        margin: 5px 5px 5px 5px !important;
        text-orientation:unset !important;
        writing-mode:unset !important;
    }
    .openContentButton {
        height: auto !important;
        padding: 20px 0px;
        width: 100% !important;
        font-size: 5vw;
    }
    .basicBox.openList {
        height: auto;
        width: 100%;
    }
    .basicBox.openList > .imageBox {
        max-height: 1500px !important;
        height: unset !important;
        width: 100%;
        
    } 
    .basicBox.closed > .imageBox {
        max-height: 0;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 100%;
        object-fit: cover;
    } 
    .imageBox.closed.openList {
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        height: unset;
    }
    .basicBox.closed.openList {
        opacity: 1;
        min-width: unset !important;
    }
    .dateBox.collapsed {
        visibility:visible !important;
        position: relative !important;
    }
    .openContentButton.noBtn.collapsed {
        visibility:visible !important;
    }
    .wrapperInfo {
        position: relative !important;
        margin-top: 0 ! important;
    }
    .basicBox > .infoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .parcArt {
        padding-top: 10em;
        overflow: scroll;
    }
    .parcArt > .whiteText {
        width: 80%;
    }
    #prog, #flech {
        font-size: 0 !important;
    }
    .basicBox.nocontent > .infoBox {
        position: unset !important;
        padding: 100px;
        height: unset !important;
    }
    .monsLogo {
        max-width: 35vw !important;
    }
    .archives {
        padding: 10px;
        height: unset !important;
    }
    .arch {
        font-size: 4vw;
    }
    .hiddenMenu, #diah, #prog {
        font-size: 3.6vw;
    }
    .barbLogo, .cpasLogo {
        max-width: 60% !important;
        max-height: unset !important;
    }
    .onTopImg {
        height: 100% !important;
    }
    .ctaLogo {
        max-width: 15vw !important;
    }
    video {
        align-self: flex-start;
    }
    .basicBox.nocontent {
        height: unset !important;
    }
    .middleLogo {
        margin-top: 50px;
        position: unset !important;
    }
    #synop > .wrapperInfo {
        max-width: unset !important;
    }
    .legendCoin {
        font-size: 3vw !important;
    }
    #synop > .wrapperInfo > .whiteText {
        font-size: 4vw !important;
    }
    .yeardate {
        font-size: 4vw !important;
    }
    .locationTime.whiteText {
        font-size: 4vw;
    }
    .arrow {
        transform: rotate(-90deg);
    }
    .arrow.rotate {
        transform: rotate(0deg);
    }
    .openContentButton {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    .veryBIG {
        font-size: 7.5vw !important;
    }
    .openContentButton.noBtn {
        cursor: default;
    }
    .lignefooter {
        border-bottom: thin solid white;
    }
    .footerwraper > .lignefooter {
        border-bottom: thin solid #8c8b8b;
    }
    .fa-coins {
        font-size: 7vw !important;
    }
    .mjLogo {
        max-width: 25vw !important;
    }
    .barbLogo.smallLogo.rightBottom {
        top : 30px !important;
        right: 20px !important;
    }
    .biggerbottomPadding {
        padding-bottom: 150px !important;
    }
    .openContentButton.noBtn > span {
        transform: rotate(90deg);
    }
    .basicBox.closed {
        margin: 0 !important;
    }
    #masquedText {
        font-size: 3.8vw !important;
    }
    .dateBox, .basicBox {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    .middleBottom {
        max-width: 80% !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }
    .basicBox.nocontent.closed.openList {
        min-width: unset;
    }
    .infoBox.noimg.text > .wrapperInfo {
        position: relative !important;
        top: 0 !important;
    }
    .basicBox.closed.nocontent.openList {
        height: unset;
        min-width: unset !important;
        max-width: 100% !important;
        max-height: 2000px;
    }
    .infoBox.noimg.text {
        position: unset !important;
        padding: 75px 50px;
    }
    
    #QN.openList {
        min-height: 380px;
        height: unset;
        min-width: unset !important;
        max-width: 100% !important;
    }
    #QN > video {
        min-height: 380px;
    }
    #prejuge.openList {
        min-height: 354px;
        height: unset;
        min-width: unset !important;
        max-width: 100% !important;
    }
    #prejuge > video {
        min-height: 354px;
    }
    .basicBox.closed.nocontent {
        min-height: 0px;
        max-height: 0px;
    }
    .locationTime.whiteText.summary {
        max-width: 80% !important;
        height: auto;
        width: auto !important;
        font-size: 4vw !important;
    }
    .basicBox.closed {
        min-height: 0px;
    }
    video {
        width: 100%;
    }
    .closed > video {
        max-height: 0;
    }
    .closed.openList > video {
        max-height: 800px;
    }
    .hiddenMenu {
        width: unset !important;
        margin: 0 5px !important;
        opacity: 1 !important;
    }
    .menuLigne {
        flex-wrap: wrap !important;
    }

    .sous_titre {
        height: unset!important;
    }

    .sous_titre > .footerwraper {
        flex-direction: row;
        height: unset !important;
        justify-content: center !important;
    }

    #flech {
        transform: rotate(0) !important;
    }

    .upright {
        writing-mode: horizontal-tb !important;
    }

    .sous_titre {
        margin-top: 30px !important;
    }


    .sous_titre > .footerwraper > .lignefooterCC,
    .sous_titre > .footerwraper > .lignefooterShort,
    .sous_titre > .footerwraper > .lignefooter,
    .sous_titre > .footerwraper > .menuLigne > .lignefooterCC,
    .sous_titre > .footerwraper > .menuLigne > .lignefooterShort,
    .sous_titre > .footerwraper > .menuLigne > .lignefooter
    {
        max-width: 0 !important;
    }
}
.titleBox {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #474747;
    margin: 20px 0;
    font-size: 1.3rem;
    font-family: 'Libre Baskerville', serif;
    padding: 20px 0;
}
.titleWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.titleWrap > h1 {
    margin:0 20px;
}
.titleWrap > .lignefooter {
    border-bottom: 1px solid #8c8b8b;
}
.middleSep > span {
    margin:0 10px;
}
.dateBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 10px 10px 10px 10px;
    min-width: 29px;
    flex-grow: 0.05;
    max-width: 40px;
    background-color: #2a9d8f;
    color: white;
    margin : 10px 5px 10px 5px;
    border-radius: 6px;
}
.dateBox.collapsed {
    visibility: collapse;
    position: absolute;
}
.openContentButton.noBtn.collapsed {
    visibility: collapse;
}
.dateWrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vertLine {
    border-left: 1px solid white;
    flex-grow: 20;
}
.yeardate {
    margin: 5px 0 5px 0;
    text-orientation: upright;
    writing-mode: vertical-rl;
}
.basicBox.nocontent {
    flex-grow: 1;
}
.basicBox {
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.infoBox , .imageBox {
    border-radius: 6px;
}
.basicBox:not(.closed) {
    height: 350px;
    position: relative;
    min-width: 240px;
    border-radius: 6px;
}
.basicBox.closed.openList {
    margin-bottom: 10px !important;
}
body {
    align-items: center;
}
.openContentButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    min-width: 30px;
    flex-grow: 0.02;
    cursor: pointer;
    background-color:#264653;
    color: white;
    margin: 10px 5px 10px 5px;
    border-radius: 6px;
}
.openContentButton.noBtn {
    margin: 10px 10px 10px 0;
    cursor: default;
}
.basicBox.closed {
    min-width: 0;
    margin: 10px 0 10px 0;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    position: relative;
}
.basicBox.closed.openList {
    min-width: 247px;
    opacity: 1;
    margin:10px 5px 10px 5px;
}
.imageBox {
    max-width: 100%;
    height: 350px;
}
.dateArrow {
    margin: 10px 0;
}

video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#prejuge.closed.openList{
    min-width: 620px;
}
#prejuge.closed > video{
    min-width: 620px;
}
#QN.closed.openList{
    min-width: 650px;
}
#QN.closed > video{
    min-width: 650px;
}
.infoBox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #264653;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
    font-size: 15pt;
    z-index: 100;
}
.wrapperInfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: min(20%, 100px);
    text-align: center;
}
.middleSep {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px 0 10px 0;
    max-width: 380px;
}
.locationTime {
    text-align: center;
}
.middleSep > .lignefooter {
    border-bottom: 1px solid white;
}
.fa-confluence {
    margin: 0 5px 0 5px;
}
.infoBox.hovered {
    opacity: 1;
}
.noimg {
    opacity: 1 !important;
}

.break {
    flex-basis: 100%;
    height: 0;
}
#xeno {
    min-width: unset;
}
.rotate {
    transform: rotate(-90deg);
}
.dateBoxStarter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.dateBoxStarter.grow {
    flex-grow: 1;
}
.arrow {
    margin: 5px;
    transition: all .3s;
}
.minus {
    transition: all .3s;
    transform: rotate(-180deg) scale(.5);
    opacity: 0;
    position: absolute;
}
.arrow.opened {
    transform: rotate(180deg) scale(.5);
	opacity: 0;
}
.minus.opened {
    transform: rotate(0deg) scale(1);
	opacity: 1;
}
.infoBox.noimg.text > .wrapperInfo {
    margin-top: 0;  
}
.infoBox.noimg.text {
    position: relative;
    min-width: 240px;
    height: 100%;
    max-height: 100%;
    width: 100%;
}
.locationTime.whiteText.summary {
    width: 400px;
    margin: 0 20px 0 20px;
    text-align: justify;
    font-size: 1.2rem;
}
.whiteText {
    margin: 0 20px;
    color: white;
}
.basicBox.nocontent.closed {
    flex-grow: 0;
}
.basicBox.nocontent.closed.openList {
    min-width: 500px;
    flex-grow: 1;
}

.basicBox.nocontent.closed > .infoBox {
    position: absolute;
}
.infoBox.noimg.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nowrap {
    white-space: nowrap;
}
.basicBox.closed.nocontent {
    /*opacity: 1 !important;*/
}
.imageBox.closed {
    object-fit: cover;
}
.buyable {
    color: white;
    z-index: 10000;
    margin-right: 10px;
    transition: color 1s cubic-bezier(0.05, 0.84, 0.44, 1);
}
.fa-link:hover {
    color: #e9c46a;
}
.fa-coins:hover {
    color: #e9c46a;
}
.iconEvents {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    z-index: 101;
}
.iconDate {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    color: white;
    z-index: 101;
}
.iconDate > .buyable.fa-history {
    margin-right: 0;
    margin-left: 10px;
}
.legendWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: auto;
    padding-top: 20px;
}
.legende {
    margin-left: 20px;
    margin-bottom: 20px;
}
#legendBox {
    min-width: 400px;
}
.middleBottom {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
    left: 0;
    font-weight: 600;
}
.leftBottom {
    position: absolute;
    text-align: center;
    left:20px;
    bottom: 20px;
    left: 0;
    font-weight: 800;
}
.rightBottom {
    position: absolute;
    text-align: center;
    right:20px;
    bottom: 10px;
}
.onerem {
    font-size:1rem;
}
.onehalfrem {
    font-size:1.3rem;
}
.ofiverem {
     font-size: 0.9rem;
}
.cpasLogo {
    max-height: 80%;
    max-width: min(200px, 60%);
}
.barbLogo {
    max-height: 55%;
    max-width: min(55% , 180px);
    margin-bottom: 10px;
}
#etvBlack {
    color: black;
    font-weight: bold;
}
.mjLogo {
    max-width: 60px;
    max-height: 55%;
    margin-bottom: 15px;
}
.middleLogo {
    left:0;
    right: 0;
    bottom: 50px;
    position: absolute;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.archives {
    width: 100%;
    height: 45px;
    background-color: #e76f51;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    margin: 10px 0;
    cursor: pointer;
}
.archives:active {
    -webkit-box-shadow: inset 0px 0px 7px -1px rgba(0,0,0,0.55);
     -moz-box-shadow: inset 0px 0px 7px -1px rgba(0,0,0,0.55);
          box-shadow: inset 0px 0px 7px -1px rgba(0,0,0,0.55);
   outline: none;
}
.arch {
    margin: 0 5px;
}
.archives > .lignefooter {
    max-width: 80px;
    border-bottom: 1px solid white;
}
.archiveWrapper, .currentWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.currentWrapper {
    background-color: white;
    z-index: 2;
}
.archiveWrapper {
    background-color: white;
    z-index: 1;
    visibility: hidden;
    transition: all 1s ease-in-out;
}
.easeInOut {
    visibility: visible !important;

}
.centerAbs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
.veryBIG {
    font-size: 2.3rem;
    font-weight: 700;
}
.basicBox.bigBox {
    min-width: 440px;
}
.wrapperInfo.center {
    margin-top: 0;
    width: 100%;
    height: 100%;
}
.locationTime.leftStyled {
    text-align: left;
    
    margin-bottom: 5px;
}
.cancelled {
    padding: 5px;
    position: absolute;
    bottom: 20px;
    background-color: #d62828;
    border-radius: 6px;
    color: white;
    left: 20px;
}
.onTopImg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.20;
}
#centered {
    margin-top: 0;
}
.smallLogo {
    max-width: 100px;
}
.monsLogo {
    max-width: 100px;
}
.ctaLogo {
    max-width: 50px;
}
.fa-file-pdf:hover {
    color:#d62828;
}
#pdfEcri {
    top: 120px;
    left: auto;
    right: auto;
    margin: auto;
}
.f400{
    font-weight: 400;
}
.fbig {
    font-weight: 600;
}
.fvbig {
    font-weight: 700;
}
.synop {
    min-width: 400px !important;
}
#workshops {
    white-space: nowrap;
}
#synop > .wrapperInfo {
    position: unset !important;
}
.iconDate > div {
    font-weight: bold;
    color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.outline {
    color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#workshop_intro {
    min-width: 550px;
}
#impro {
    min-width: 300px;
}
.basicBox.masqued.closed.nocontent.openList {
    min-width: 250px !important;
}
.upright {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
#archives {
    background-color: #e76f51;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#archives:hover {
    background-color: #EB886F;
}
#poeme {
    width: unset;
}
.opacity03:not(.dateBoxStarter) {
    opacity: 0.3 !important;
}
.dateBoxStarter.opacity03 > * {
    opacity: 0.3!important;
}
.dateBoxStarter.opacity03> *:hover {
    opacity: 1!important;
}
.opacity03:not(.dateBoxStarter):hover {
    opacity: 1 !important;
}
@keyframes absTostat {
    0% {
        position: absolute;
    }
    100% {
        position: unset;
    }
}
@keyframes absTostat {
    0% {
        position: absolute;
    }
    100% {
        position: unset;
    }
}
