.address {
    padding-top:10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.address > .lignefooter {
    margin: 0 10px;
    max-width: 25px;
}
/* Fix bug for ios on Image */
.conteneurMenuLigne {
    width: 65%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 7px;
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.conteneurMenuLigne.active {
    width: 68%;
}
.smallArrow {
    padding: 0 9px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
    margin-top: 2px;
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    min-height: 23px;
}
.conteneurMenuLigne.active > .smallArrow {
    -webkit-transform: rotate(360deg) !important;
    -moz-transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
    min-width: 19px;
}
.conteneurMenuLigne.hover > .lignefooter {
    border-bottom: 1px solid black;
}
#leftmenubutton > .conteneurMenuLigne.active > .smallArrow {
    color: #264653;
}
#midmenubutton > .conteneurMenuLigne.active > .smallArrow {
    color: #2a9d8f;
}
#rightmenubutton > .conteneurMenuLigne.active > .smallArrow {
    color: #e76f51;
}
#leftmenubutton > .conteneurMenuLigne.active > .lignefooter {
    border-bottom: 1px solid #264653;
}
#midmenubutton > .conteneurMenuLigne.active > .lignefooter {
    border-bottom: 1px solid #2a9d8f;
}
#rightmenubutton > .conteneurMenuLigne.active > .lignefooter {
    border-bottom: 1px solid #e76f51;
}
.conteneurMenuLigne > .lignefooter {
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.logo {
    align-self: center !important;
}
@media (max-width:1040px) {
    .topMenu {
        font-size: 4.9vw !important;
    }
    .logo {
        max-height: unset !important;
        max-width: 80vw !important;
        height: unset!important;
    }
    .wrapperSponsor {
        margin-top: 30px !important;
        max-width: unset !important;
        height: 17vw !important;
    }
    .footerwraper > a > .socials {
        font-size: 9vw !important;
    }
    .subtitle {
        margin-top: 30px;
        font-size: 2.9vw;
    }
    .mainText {
        width: 90% !important;
    }
    .WALLOW,.HAINW {
        height: 13vw !important;
    }
    .HAINW {
        margin-left: 50px ;
        margin-right: 50px;
    }
    .CTAW {
        height: 14vw !important;
    }
}

@media (max-width:2180px) and (min-width:1700px) {
    .invisWrapper.horizontalFlex {
        justify-content: center !important;
    }
    .barbHistoire {
        width: 0;
    }
    .imgOutline {
        width: 0 !important;
        height: 0 !important;
    }
}

@media (max-width:950px) {
    .invisWrapper.horizontalFlex {
        justify-content: center !important;
    }
    .barbHistoire {
        width: 0;
    }
    .imgOutline {
        width: 0 !important;
        height: 0 !important;
    }
}

html, body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    margin: 0;
    min-width: 590px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.defaultWideDiv {
    width: 100%;
}
.mainQuote {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: -1000px;
    animation-delay: 500ms;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
    animation-name: slideInLeft;
}
.mainPar {
    transform: translateX(115%);
    animation-delay: 1300ms;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
    animation-name: slideinRight;
    text-align: justify;
    text-indent: 2.5em;
}
.mainText {
    position: absolute;
    width: 28%;
    margin-left: max(260px,17%);
    bottom: 21%;
    color:#474747;
    font-family: 'Libre Baskerville', serif;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#border-leftDiv {
    position: absolute;
    height: 100%;
    width: calc(100% - 1px);
    border-right: 1px solid #8c8b8b;
}
@keyframes borderDrop{
    0% {
        height: 100%;
    }
    75% {
        height: 0%;
        /*width: 0%;*/
    }
    76% {
        border-right: none;
        /*border-bottom: 1px solid #8c8b8b;*/
    }
    89% {
        /*width: 1%;*/
    }
    100% {
        /*width: 0;*/
    }

}
div.QuoteDiv {
    min-width: 450px;
    padding: 50px;
    margin-left: max(260px,17%);
    margin-top: 115px;
    border-left: 1px solid #8c8b8b;
    color:#474747;
    font-size: 30pt;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#head {
    min-height: 125px;
    flex-grow: 2;
    position: relative;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#footer {
    position: relative;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: white;
    /*clip-path:polygon(20% 0,80% 0,80% 100%,20% 100%);*/
    width: 100%;
}
#rightLine {
    flex-grow: 10;
}
.hiddenImg {
    opacity: 0;
}
.footerwraper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}
.logo {
    display: block;
    width: auto;
    height: 50%;
    max-width: 70%;
    flex-grow: 1;
    cursor: pointer;
}
.socials {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sponsors {
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    width: auto;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hiddenImg {
    max-height:100%;
    max-width: 100%;
    width: auto;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 90;
}
#subfooter {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}
.backgroundImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.backgroundImg:hover {
    opacity: 0; 
}
.opacity1{
    opacity: 1;
}
.opacity0{
    opacity: 0;
}
.wrapperSponsor {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}
.START {
    background: no-repeat url(../Image/Spons/START-Logo.png) 50% / 100%;
}
.MONS {
    max-height: 30%;
}
.FTA {
    background: no-repeat url(../Image/fta-nb.png) 50% / 100%; 
}
.FWB {
    background: no-repeat url(../Image/Spons/FWB_VERTI_NOIR.png) 50% / 100%; 
}
.CTA {
    background: no-repeat url(../Image/Spons/cta_gris.jpg) 50% / 100%; 
}
.WALLO {
    background: no-repeat url(../Image/Spons/wallone.png) 50% / 100%;
}
.MNS {
    background: no-repeat url(../Image/Spons/mons-nb.png) 50% / 100%;
}
.HAIN {
    background: no-repeat url(../Image/Spons/hainaut_gris.jpg) 50% / 100%;
}
#facebook:hover {
    color: #416BBF;
}
#mail:hover {
    color: #EA4335;
}
#instagram:hover {
    color: #fdf497;
}
#subtitle:after{
    content: 'Compagnie de théâtre action';
}
hr {
    overflow: visible;
}
hr.sousligne {
    border-top: 1px solid #8c8b8b;
    text-align: center;
    position: absolute;
    
    left: -2px;
    bottom: -20px;
    width: 101%;
    margin: 0;
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

hr.sousligne::after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -24px;
    padding: 0 10px;
    background: white;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
    transform: rotate(60deg);
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

hr.sousligne.opacity1black {
    border-top: 1px solid black;
}

hr.sousligne.opacity1black::after {
    color: black;
}

hr.sousligne.contactSL.sousligne_select::after{
    content: '\25bc' !important;
    color:  #e76f51 !important;
    -webkit-transform: rotate(360deg) !important;
	-moz-transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
}
hr.sousligne.HistSL.sousligne_select::after{
    content: '\25bc' !important;
    color:  #2a9d8f !important;
    -webkit-transform: rotate(360deg) !important;
	-moz-transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
}
hr.sousligne.ProSL.sousligne_select::after{
    content: '\25bc' !important;
    color:  #264653 !important;
    -webkit-transform: rotate(360deg) !important;
	-moz-transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
}


hr.sousligne.ProSL.hover_sousligne {
    border-top: 1px solid #264653 !important;
}
hr.sousligne.HistSL.hover_sousligne {
    border-top: 1px solid  #2a9d8f !important;
}
hr.sousligne.contactSL.hover_sousligne {
    border-top: 1px solid chocolate !important;
}

#footer {
    overflow-y: hidden;
}
hr.simpleligne{
    border-bottom: 1px solid #8c8b8b;
    min-width: 20px;
    height: 0;

}
hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
    position: absolute;
    
    left: -1px;
    bottom: -10px;
    width: 101%;
    margin: 0;
}
hr.style17:after {   
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: white;
    color: #8c8b8b;
    font-size: 18px;
}
.sous_titre {
    clip-path: polygon(23% 0,77% 0,77% 200%,23% 200%);
    width: 100%;
    height: 15%;
    bottom: 0;
    left: 0;
}
.subtitle {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    color: #8c8b8b;
}
.subtitle > .lignefooter {
    margin: 0 8px;
}
.lignefooter{
    height: 1px;
    border-bottom: 1px solid #8c8b8b;
    flex-grow:20;
}
.lignefooterShort {
    height: 1px;
    border-bottom: 1px solid #8c8b8b;
    flex-grow:1;
}
.lignefooterSemiShort {
    height: 1px;
    border-bottom: 1px solid #8c8b8b;
    flex-grow:2;
}
#middleFooter {
    flex-grow: 70 !important;
}
.iconfooter{
    flex-grow: 0;
}

.sous_titre.subtitle_menu{
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    clip-path: polygon(21% 0,79% 0,79% 200%,21% 200%);
}
.sous_titre.subtitle_menu.highlight_hr{
    clip-path: polygon(16% 0,84% 0,84% 200%,16% 200%) !important;
}
#menu {
    flex-grow: 1;
    min-height: 50px;
    max-height: 80px;
    background-color: red;
}

#main {
    flex-grow: 10;
    position: relative;
    min-height: 750px;
    display: flex;
    align-items:flex-start;
    justify-content: left;
}

.mainMenu {
    position: absolute;
        top: 46%;
        left: 67%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 67%;
    transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    flex-direction:column;
    align-items: stretch;
    
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.Imgs{
    flex-grow: 10;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
.FullMenu {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    pointer-events: none;
}
.closed {
    pointer-events: none;
}
.openList {
    pointer-events: all;
}
.topBar {
    flex-grow: 2;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.topMenu {
    width: 32%;
    height: 75%;
    max-height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    overflow: hidden;
    color: #8c8b8b;
    cursor: pointer;
    flex-direction: column;
}
.FullMenu {
    flex-grow: 10;
    transition: all 1700ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 1700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fadeMenu {
    opacity: 0.5;
}
.opacity1black {
    opacity: 1 !important;
    color: black !important;
}
.MenuName {
    flex-grow: 9;
}
.Ligne{
    flex-grow: 1;
    max-height: 35px;
    
}
.LeftSide, .Middle, .RightSide{
    width: 32%;
    height: 100%;
    z-index: 10;
}

#mainMenuLeft {
    filter: drop-shadow(rgba(240, 46, 170, 0.4) -5px 5px) drop-shadow(rgba(240, 46, 170, 0.3) -10px 10px) drop-shadow(rgba(240, 46, 170, 0.2) -15px 15px) drop-shadow(rgba(240, 46, 170, 0.1) -20px 20px) drop-shadow( rgba(240, 46, 170, 0.05) -25px 25px);
    animation-name: fadeInLeft;
    animation-delay: 800ms;
}
#mainMenuMid {
    filter: drop-shadow(rgba(240, 46, 170, 0.4) 0px 5px) drop-shadow( rgba(240, 46, 170, 0.3) 0px 10px) drop-shadow( rgba(240, 46, 170, 0.2) 0px 15px) drop-shadow( rgba(240, 46, 170, 0.1) 0px 20px) drop-shadow( rgba(240, 46, 170, 0.05) 0px 25px);
    animation-delay: 2000ms;
    
    animation-name: fadeInBottom;
}
#mainMenuRight {
    filter: drop-shadow(rgba(240, 46, 170, 0.4) 5px 5px) drop-shadow( rgba(240, 46, 170, 0.3) 10px 10px) drop-shadow( rgba(240, 46, 170, 0.2) 15px 15px) drop-shadow( rgba(240, 46, 170, 0.1) 20px 20px) drop-shadow( rgba(240, 46, 170, 0.05) 25px 25px);
    animation-delay: 3000ms;
    animation-name: fadeInRight;
}
#LeftImg {
    clip-path: polygon(0% 0,32% 0,32% 100%,0 100%);
    background-color: #264653;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LeftImgClose {
    clip-path: polygon(0 0,0 0,0 100%,0 100%) !important;
}
.FullOpen {
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%) !important;
    pointer-events: all;
}
.RightClose {
    clip-path: polygon(100% 0,100% 0,100% 100%,100% 100%) !important;
}
#RightImg {
    background-color: #e76f51;
    clip-path: polygon(68% 0,100% 0,100% 100%,68% 100%);
}
#MidImg {
    background-color: #2a9d8f;
    clip-path: polygon(34% 0,66% 0,66% 100%,34% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backgroundPara {
    background-position: bottom right !important;
}
#heart,.william {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
a {
    color :#8c8b8b;
    text-decoration: none;
}
#heart:hover {
    color: red;
}
.william {
    color: black;
}
.william:hover {
    color:#2a9d8f;
}
video {
    border-radius: 6px;
}
.tabText {
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.triangleRight {
    margin-right: 10px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.triangleRight.selected {
    margin-right: 20px;
}
.menuOption {
    width: max-content;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.invisWrapper {
    width: max-content;
    height: 100%;
    opacity: 0;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#wrapperMons {
    margin: 0 5px;
}
.FTAW {
    height:65px;
}
.CTAW {
    height: 60px;
}
.HAINW {
    height: 60px;
}
.WALLOW {
    height: 60px;
}
.invisWrapper.visible {
    opacity: 1;
}
.invisWrapper.flexing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-height: 80%;
}
.invisWrapper.horizontalFlex {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.invisWrapper.corners {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.whiteMask {
    color: white;
    margin-right: 20px;
}
.histoire {
    text-align: justify;
    text-indent: 2.5em;
    max-width: 500px;
    color: white;
    font-size: 1.1rem;
}
.middleBottom {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    left: 0;
    font-weight: 600;
    color:white;
}
.middleBottom > a {
    color: white;
    text-decoration: none;
}
.corner{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    color: white;
}
#cornerhg {
    background-color: #E9795D;
}
#cornerhd {
    
    background-color: #E76A4B;
}
#cornerbg {
    background-color: #E24D28;
}
#cornerbd {
    background-color: #E35531;
}
.job {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    max-width: 380px;
}
.job.bigJob {
    font-size: 1.2rem;
    width: 90%;
}
.ligneJob {
    border-bottom: white 1px solid;
    flex-grow: 1;
}
.jobtitle {
    margin: 0 5px;
}
.bigJob > .jobtitle {
    margin: 0 10px;
}
.imgOutline {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: white;
    top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
}

.fullscreenDIV {
    z-index:9999;
    display: none;
    background-color:#264653E6;
    position:fixed;
    height:100%;
    width:100%;
    left: 0px;
    top: 0px;    
    text-align: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
.FSOPEN {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullscreenIMG {
    max-width: 80%;
    max-height: 80%;
}

@keyframes slideInLeft {
    0% { margin-left: -1000px; }
    100% { margin-left: 30px; }
}
@keyframes slideinRight {
    0% { transform: translateX(110%); }
    100% { transform: translateX(0); }
}
@keyframes underAnim {
    0% { content: ''; }
    100% { content: 'Compagnie de théâtre action' }
}

@media (max-width:1700px) {
    .accueil
    {
        justify-content: space-evenly !important;
        align-items: center !important;
    }
    #main {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .mainText,.QuoteDiv {
        margin: unset !important; 
    }
    .mainText,.QuoteDiv,#footer {
        margin-top: 50px !important;
    }
    .mainMenu {
        position: unset!important;
        width: 90%!important;
        height: 600px!important;
        transform: none !important;
    }
    .mainText {
        position: relative!important;
        width: 95%!important;
        max-width: 500px;
    }
    .footerwraper {
        flex-wrap: wrap;
    }
    #middleFooter {
        flex-grow: 20 !important;
    }
    
    .logo {
        max-height: 95px;
    }
}

@media (max-width:600px) {
      .menuText {
        font-size: 1.3rem;
    }
}

@media (min-width:1040px) {
    .footerwraper > .lignefooter:first-child {
        flex-grow: 10!important;
    }
}
@media (max-width:1040px) {
    #subfooter {
        height: unset !important;
        padding: 20px 0;
        font-size: 3.5vw;
    }
    .optBreak {
        flex-basis: 100%;
        height: 0;
    }
    #main {
        flex-direction: column !important;
    }
    #head {
        margin-top: 30px;
    }
    .QuoteDiv {
        font-size: 8vw !important;
        width: 80%;
    }
    .mainPar {
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        font-size: 3.1vw !important;
        margin: 50px 7vw !important;
    }
    p {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
    .mainText {
        max-width: unset !important;
    }
    #rightLine, .lignefooterSemiShort {
        width: 0 !important;
        visibility: hidden !important;
        position: absolute !important;
    }
    .footerwraper {
        justify-content: center !important;
    }

    #footer > .footerwraper > #rightLine {
        width: 0 !important;
        visibility: hidden;
    }
    #footer > .footerwraper {
        min-width: 500px !important;
        overflow: hidden;
    }
    #footer > .footerwraper > #rightLine {
        max-width: 0;
    }
}

@media (max-width:700px) {
    .corner {
      font-size: 1rem !important;
    }
    .job.bigJob {
        font-size: 1.2rem;
    }
    #synop > .wrapperInfo > .whiteText {
        font-size: 1.1rem !important;
    }
    #footer {
        overflow: hidden;
    }
}
